<ion-header>
    <ion-toolbar id="navbar">
      <ion-buttons slot="start" menu="main-menu">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
  
      
      <ion-buttons slot="secondary">
        <ion-button shape="round">
          <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
      
  
      <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>
  
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)" shape="round">
          <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div>
        <ion-button fill="clear" type="string" size="medium" routerLink="/ambassador-landing-page">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Return
          </ion-button>
    </div>

    <div id="productDetailsCard">
        <ion-card>
          <ion-row>
            <ion-col><img src="./assets/Suptite.png" height='300' width='300'/></ion-col>

            <ion-col style="margin-left:10%;">
          <ion-card-content>
            <h1  style="color: black;"><b>Suptite Capsules - 60 Tablets</b></h1>
            <br>
            <p  style="color: #333333;">Restore youthful radiance. Reduces appearance of wrinkles and fine lines. Increase skin hydration, elasticity,
                firmness and dermal thickness. Reduce skin inflammation and pigmentation.</p>
            <p style="color: black; font-weight: bold;">R950,00</p>
      </ion-card-content>
            </ion-col>
          </ion-row>
          <ion-row class="quantity">
            <ion-col size="5"></ion-col>
            <ion-col size="5"></ion-col>
            <ion-col>
            <ion-item>
            <ion-label>Qty:</ion-label>
            <ion-input type="number"value="0" ></ion-input>
            <ion-icon size="large" name="cart"></ion-icon>
            </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>

      <div id="reviews">
       <h1 style="font-weight: bold;">Reviews</h1>
       <h6>1 to 10 of 20 Reviews</h6>
       <br>
       <ion-card>
        <h6>Samantha Niels - 18/05/2022</h6>
        <p style="font-weight: 600;">Lifestyle - Suptitie Capsules</p>
        <p>Suptite capsules are the best thing that has happened to me, my skin has never been the same ever since. 
           50s are the new 30s!
        </p>
       </ion-card>
      </div>

  </ion-content>
