<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>  
    
    <ion-label slot="secondary" id="toolbarUserName" >John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

  <ion-row>
    <ion-col>
      <ion-button fill="clear" (click)="createProduct()">
        <ion-icon name="add-circle-outline" size="large" id="addIcon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-input [(ngModel)]="filterString" id="searchProductBar" placeholder="Search Product..."></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- Filter box -->
   <ion-col size="2.1">
    <ion-row>
      <ion-button (click)="maintainVAT()" fill="clear" style="color: #0070c0; text-transform: none; text-decoration: underline; font-size: 16px;">Maintain VAT</ion-button>
    </ion-row>

    <ion-row>
      <select placeholder="Pick" id="typeSelect" name="typeSelect" (change)="onTypeSelect($event)">
          <option value="" disabled selected>Select product type</option>
          <option value="1">Product</option>
          <option value="2">Package</option>
        </select>
    </ion-row>


    <ion-card id="filterBox">
      <ion-card-header>
        <ion-card-title>Categories...</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-radio-group [(ngModel)]="merchCatOption">

          <ion-item lines="none" *ngFor="let m of merchCat; index as i">
            <ion-label>{{m.merchCategoryName}}</ion-label>
            <ion-radio slot="start" value="{{m.merchCategoryId}}"></ion-radio>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label>Show All...</ion-label>
            <ion-radio slot="start" value="All"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-card-content>
    </ion-card>
   </ion-col>

   <!-- Table -->
   <ion-col size="9">
    
     <table id="productTable">
      <thead>
        <tr>
          <th width="5%">ID</th>
          <th width="15%">Product</th>
          <th width="10%">Name</th>
          <th width="10%">Category</th>
          <th width="20%">Description</th>
          <th width="10%">Price</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let m of merch">
          <tr *ngIf="m.catID == merchCatOption || merchCatOption == 'All'">
            <td>{{m.id}}</td>
            <td><img src="data:image/png;base64,{{m.image}}" height="100px" alt='The Image' /></td>
            <td>{{m.name}}</td>
            <td>{{m.category}}</td>
            <td style="word-wrap: break-word; text-align: left;">{{m.description}}</td>
            <td>{{m.price | currency: 'ZAR':'symbol-narrow'}}</td>
            <td style="display: block;text-align: center;">
              <ion-button id="update" (click)="updateProduct(m.id)">Update</ion-button>
              <ion-button id="delete" *ngIf="m.status == 'In Stock'" (click)="DeleteMerch(m.id)">Remove</ion-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
     </table>
  </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
