<ion-app>
  <!-- Client sub-system -->
<ion-menu menuId="client-menu" content-id="main-menu" type="overlay">
<ion-header>
  <ion-toolbar>
   <img src="./assets/Client Navbar logo.png" height="50px">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-menu-toggle>
      <ion-item routerLink="/tabs/tab1" lines="none">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
    <ion-item routerLink="tabs/feedback" lines="none">
      <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="tabs/view-ambassador" lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Ambassador</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="tabs/special" lines="none">
        <ion-icon name="megaphone-outline" slot="start"></ion-icon>
        <ion-label>Specials</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="tabs/order-history" lines="none">
        <ion-icon name="albums-outline" slot="start"></ion-icon>
        <ion-label>Orders</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="tabs/faq" lines="none">
        <ion-icon name="help-outline" slot="start"></ion-icon>
        <ion-label>FAQs</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-list>
    <ion-item lines="none">
      <ion-icon size="large" name="help-circle-outline" slot="end"></ion-icon>
      <ion-label slot="end">Help</ion-label>
    </ion-item>
  </ion-list>
</ion-footer>
</ion-menu>

<!-- Content -->
<ion-split-pane contentId="main-menu">
  <ion-router-outlet id="main-menu" main></ion-router-outlet>
</ion-split-pane>
</ion-app>
