<!--

  <br><br><br><br>

  <ng-form style="height: 400px; margin-left: 30%; margin-right: 30%; box-shadow: 2px 2px 4px 5px;">
    <ion-item>
      <ion-label style="font-size: 25px;">Ranking Request</ion-label>
      <ion-icon  name="close-outline" size="large"></ion-icon>
    </ion-item><br>
    <p style="margin-left: 35%;">Send a request to</p> <br>
    <button style="  background-color: #0070c0; border: none;" class="button">Promote</button><br>
    <p style="margin-left: 43%;">Or</p>
    <button style="background-color:#f44336;  border: none;" class="button">Demote</button><br><br>
    <p style="margin-left: 40%;">Roi Pattuli</p>
    <ion-item></ion-item>
  </ng-form><br><br>


  <ion-card style="height: 110px; margin-left: 35%; margin-right: 35%;">
      <ion-label style="font-size: 15px; margin-left: 7%;">Are you sure you would like to request this agent's demotion?</ion-label> 
      <br><br><br>
    <ion-row>
    <button style=" background-color: white; color:#0070c0; border: #0070c0 solid 2px; margin-left: 7%;" class="button2">Confirm</button>
    <button style="background-color: white; color:#f44336; border: #f44336 solid 2px; margin-left: 40%;" class="button2">Cancel</button><br><br>
  </ion-row>

  </ion-card><br><br>-->
