  <ion-header>
    <ion-toolbar>
      <h2 style="margin-left: 12pt;"><b>Ranking Request</b> </h2>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div align="center" style="font-size: 15pt;margin-top: 10%;" >Send a request to</div>
   <button style="  background-color: #0070c0; border: none; margin-left: 42%;margin-top: 5%; margin-bottom: 5%;" class="button" (click)="Promote()">Promote</button>
    <div align="center" style="font-size: 15pt;">Or</div>
<button style="background-color:#f44336;  border: none; margin-left: 42%;margin-top: 5%; margin-bottom: 5%;" class="button" (click)="Demote()">Demote</button>

   
  </ion-content>
 
  
