.button{
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    margin-left: 38%;
    width: 100px;
  }

  .button2{
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    color: white;
  }

  p{
    font-size: 15px;
    font-style: italic;
    font-weight: 650;
    color: black;
  }

  input{
    width: 200px;
    height: 40px;
    margin-left: 40%;
  }