<ion-header>
  <ion-toolbar>
    <ion-title align="center">My Ambassador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--assigned Ambasassodr details-->
  <div id="myAmbassadorCard">
    <ion-card>
      <ion-row>
        <img src="./assets/avatarIcon.jpg" height='300' width='300'/>
      </ion-row>
      <br>
      <ion-row>
        <p>Senior Agent</p>
        <p>Mr John Van der Merwe</p>
        <p>White Mamba</p>
        <p>johnvanmerwe21@gmail.com</p>
        <p>South Africa</p>
        <p>Pretoria</p>
        <p>1080 Prospect Street</p>
        <p>1080</p>
        <p>074 585 2659</p>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
