<ion-header>
  <ion-toolbar>
    <ion-title>
      
      <ion-item color="primary"><h2 style="margin-left: 10pt;"><b>Create Product</b> </h2> <ion-icon  slot="end" (click)="dismissModal()" name="close-outline"></ion-icon></ion-item>

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="product"  class="ion-padding" (ngSubmit)="submitForm()">
   
      <ion-item-group>
        <ion-label>Product Name:</ion-label>
        <ion-input formControlName="productName" placeholder="Enter product name"></ion-input>
        <ion-label *ngIf="product.controls['productName'].errors.required">Required</ion-label>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Product Type:</ion-label>
        <select placeholder="Pick" formControlName="productTypeId">
          <option value="" disabled selected>Select product type</option>
          <option *ngFor="let pType of productTypes" value="{{pType.productTypeId}}">{{pType.productTypeName}}</option>
        </select><br>
        <ion-label *ngIf="product.controls['productTypeId'].errors.required">Required</ion-label>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Product Price:</ion-label>
        <ion-input formControlName="price" type="number" min="0"></ion-input>
        <ion-label *ngIf="product.controls['price'].errors.required">Required</ion-label>
      </ion-item-group> 

      <ion-item-group>
        <ion-label>Product Image:</ion-label>
        <ion-input formControlName="productImage" type="file" (change)="onFileSelected($event)"></ion-input>
        <ion-label *ngIf="product.controls['productImage'].errors.required">Required</ion-label>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Description:</ion-label>
        <ion-textarea formControlName="description" placeholder="Enter product description..."></ion-textarea>
        <ion-label *ngIf="product.controls['productImage'].errors.required">Required</ion-label>
      </ion-item-group>

      <ion-item-group style="float: right;">
        <ion-button id="create" slot="end"  type="submit">Create</ion-button>
        <ion-button id="cancel" slot="end" (click)="dismissModal()">Cancel</ion-button>
      </ion-item-group>

      
  </form>
 
</ion-content>
