ion-content{
    --background: #e5e5e5;
    --color : black;
    // border: solid 10px  #e5e5e5;
    margin-left: 10pt;
    border-radius: 50px;
}
ion-toolbar{
  --background: #e5e5e5;
  --color : black;
  // border-bottom: solid 5px black;
  // margin-left: 10pt;
  // border-radius: 50px;
}

button{
    width: 80px;
    height: 45px;
    color: #f1f1f1;
    font-size: medium;
    border-radius: 10px;
  }

div{
    background-color: #e5e5e5;
    --color : black;
    margin: 9pt;
    border-radius: 10px;
}
select{
    border: solid 1pt black;
    border-radius: 12px !important;
    width: 400px;
    margin-left: 15px;
    margin-top: 5pt;
    background-color: #e5e5e5;
    height: 40px;
  }

  ion-input{
        border: solid 1pt black;
        border-radius: 12px !important;
        width: 400px;
        margin-left: 15px;
        
    --placeholder-color: black;
    --placeholder-opacity: 1;
       
  }
span{
  color: red;
}
