<ion-header [translucent]="true">

</ion-header>

<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
    <ion-grid>

      <!-- Content of the screen -->
      <ion-row>
        <!-- SAiCS innovations logo + Quote -->
        <ion-col></ion-col>
        <ion-col style="align-items: center;">
          <img src="./assets/Innovations.png" alt="SAiCS logo" height="200" width="500">
          <blockquote class="tweet-this">
            <p><q> The future belongs to those who believe in the beauty of their dreams </q><span>-Eleanor Roosevelt</span></p>
          </blockquote>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <!-- Registration completion form  -->
        <ion-col></ion-col>
        <ion-col>
           <h1>Register</h1>
           <form id="registerNextForm" [formGroup] = "register" (ngSubmit)="Register()" #localForm = ngForm>
             <ion-list>
               <ion-item lines="none" >
                <ion-input placeholder="username" readonly="true" formControlName="username" style="border: 0px;"> </ion-input>            
               </ion-item>
               <ion-item lines="none">
                <ion-input type="password" placeholder="Password" formControlName="password"> </ion-input>              
               </ion-item>
               <span *ngIf="localForm.submitted && register.controls['password'].invalid" style="color: red;">Please enter a valid password of atleast 14 characters</span>
               <ion-item lines="none">
                <ion-input type="password" placeholder="Confirm Password" formControlName = "confirmpassword"> </ion-input>
               </ion-item>
               <span *ngIf="localForm.submitted && register.controls['confirmpassword'].invalid" style="color: red;">Please confirm your password of atleast 14 characters</span>
             <br>
                <ion-button color="secondary" type="submit">Register</ion-button>
                <br><br>
                <span *ngIf="passwordMatchError"  style="color: red;">Your passwords do not match</span>
             </ion-list>
            </form>
        </ion-col >
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    </div>
</ion-content>