#ModalBlueButtons{
    margin-left: auto;
    color: white;
    background-color: #337ab7;
    border-radius: 5px
}
#ModalRedButtons{
    
    color: white;
    background-color: #f44336;
    border-radius: 5px;
}
#ModalContent{
    margin-left: 60px;
    
}
#buttons{
    margin-top: 30px;
}
#radio{
margin-left: 50px;
}
ion-content{
    margin: 1%;
}
