#ModalBlueButtons{
    margin-left: auto;
    color: white;
    background-color: #337ab7;
    border-radius: 5px
}
#ModalRedButtons{
    
    color: white;
    background-color: #f44336;
    border-radius: 5px;
}
#ModalContent{
    margin-left: 60px;
    
    
}

