<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <br>
  <ion-row>
    <ion-button fill="clear" data-backdrop="static" data-keyboard="false" (click)="createFAQ()" >
      <ion-icon name="add-circle-outline" size="large" id="addIcon" ></ion-icon>
    </ion-button>
  </ion-row>

  <br>
  <ion-row > 
    <ion-select placeholder="FAQ Type" [(ngModel)]="faqType" (ionChange)="FAQType()" interface="popover"  >
      <ion-select-option *ngFor="let f of FAQs" value={{f.faqtypeId}}>{{f.faqtypeName}}</ion-select-option>
    </ion-select>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>

  <br>
  <ion-row *ngIf="chosenfaqtype !=null">
    <ion-select placeholder="Category" [(ngModel)]="category" (ionChange)="FAQCategory()" interface="popover" >
       <ion-select-option *ngFor="let dbCategory of faqCategory" value="{{dbCategory.faqcategoryId}}">{{dbCategory.categoryName}}</ion-select-option>
    </ion-select>
    <a (click)="MaintainCategory()"><u> Maintain Category?</u></a>
  </ion-row>

  <section *ngIf="filter">
  <section >
    <h2>{{categoryHeading}}</h2>
    <ion-row>
      <br>
      <ng-container *ngFor="let FAQ of filteredFAQS" >
        <ng-container >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <label style="color: #008080;">Q...</label>
          <br>
          {{FAQ.faqquestion}}
          <br>
          <label style="color: #08c10f;">A...</label>
          <br>
          {{FAQ.faqanswers}}
        </ion-card-content>
        <!-- <div >  -->
        <ion-item  lines="none">
          <ion-icon slot= "end" (click)="UpdateFAQ(FAQ)" name="create" style="color: #0070c0; "></ion-icon>
          <ion-icon  slot= "end"(click)="DeleteFAQ(FAQ)" name="trash-outline" size="large" id="addIcon" style="margin-left: 2%;color: black; height: 50%;"></ion-icon>
        </ion-item>
      <!-- </div> -->
      </ion-card>
    </ng-container>
    </ng-container>
    </ion-row>
  </section>
</section>
</ion-grid>
</ion-content>
