ion-toolbar
  {
    --background: #062b80;
  }

  ion-menu-button
  {
    --color: #FFFFFF;
  }
  ion-content {
    --background: #f5f5f5;
    --color : black;
  }

  table
  {
    width: 100%;
    margin-left: 100px;
    text-align: center;
  }

  th{
    background-color: #008080;
    color: white;
    height: 40px;
  }

  tbody{
    background-color: #f6ffff;
  }

  td{
    text-align: center;
    height: 60px;
  }

  p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1{margin-bottom: 3%; margin-left: 7%; }

  /* Style the tab */
.tab {
  overflow: hidden;
  width: 86%;
  margin: 0 auto;
  // border: 1px solid #ccc;
  // background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 3px solid #000000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  width: 85%;
  margin: 0 auto;
  float: left;

  table{margin-top: 3%;}
}

::ng-deep .customModal{--width: 30% !important}