<ion-header>
  <ion-toolbar>
    <ion-item color="primary"><h2 style="margin-left: 10pt;"><b>Assign Ambassador Ranking Percentage</b> </h2> <ion-icon  slot="end" name="close-outline" (click)="Close()"></ion-icon></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <form > -->
<div align="center">
<ion-row>
<div align="left"  style="font-size: 14pt; color:#333333;"><label ><i><b>Ambassador Rankings:</b></i></label></div>


</ion-row>
<ion-row>
  <ion-select placeholder="Select a ranking" interface="popover" (ionChange)="SelectedAmbassadorRanking($event)">
    <ion-select-option >Select a ranking</ion-select-option>
    <ion-select-option *ngFor="let r of ranking" value="{{r.ambassadorTypeId}}">{{r.ambassadorTypeName}}</ion-select-option>
  </ion-select>
</ion-row>
<ion-row *ngIf="this.updateRanking != undefined">
  <ion-row><ion-input readonly="true" placeholder="Ambassador ranking" [value]="this.updateRanking.ambassadorTypeName" ></ion-input> <ion-input type="number" placeholder="Discount percentage" [value]="this.updateRanking.discountPercentage" [(ngModel)]="this.updateRanking.discountPercentage" ></ion-input><ion-label id="percentage">%</ion-label><br></ion-row>
  <ion-row><span *ngIf="error == true"> Please enter a valid discount percentage</span></ion-row>
</ion-row>

<ion-row id="buttons">
  <ion-col></ion-col>
  <ion-col></ion-col>
  <ion-button (click)="AssignAmbRanking()">Assign</ion-button>
  <ion-button color="danger">Cancel</ion-button>
</ion-row>
</div>
<!-- </form> -->
</ion-content>
<ion-footer>
  
</ion-footer>