<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="secondary">
      <ion-button shape="round" routerLink="/clients-cart">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
  <ion-row>
    <ion-col>
      <h1 style="color: 33333;text-align: center;">Step1 -Introduction</h1>
    </ion-col>
  </ion-row>
</div>
      <ion-progress-bar  value="0.2" style="border-radius: 10px; background-color: white; border: black solid 1px; height: 2%; width: 250px;" ></ion-progress-bar>
    <div>
      <ion-row>
        <ion-col>

        <ion-buttons>
   <ion-button style="border-radius:10%; margin-left:90%; background-color: #08c10f;color:white" routerLink="/quiz-session">
      Next
    </ion-button>
  </ion-buttons>
</ion-col>
</ion-row>
</div>
<br>
  <img src="assets/coursepic.png" height="600" width="1500"/>
</ion-content>
