ion-progress-bar{
    width: 350px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    transform: scaleX(1);
}
#Nextbtn{
    border-radius:10%; 
    margin-left:480px;
     background-color: #08c10f;
     color:white;
}