<ion-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col></ion-col>
        <h1 style="font-weight: bold">Profile</h1>
        <ion-col></ion-col>
    </ion-row>

    <!-- Client -->
    <form id="clientProfileForm" [formGroup]="form" #ProfileForm ='ngForm'>
      <ion-row>
          <ion-col></ion-col>
          <img src="./assets/ProfileImage.png" width="30%" height="90%" />
          <ion-col></ion-col>
      </ion-row>

      <ion-row>
          <ion-col></ion-col>
          <ion-list style="margin: 10%;">
            <ion-item-group lines="none" style="display: flex; width: 90%;margin-left: 5%;">
                <ion-select formControlName="titleForm" [placeholder]=" this.profileinfo[0].title.titleName" style="width: 150px;" interface="popover">
                  <ion-select-option value=1>Mr</ion-select-option>
                  <ion-select-option value=2>Mrs</ion-select-option>
                  <ion-select-option value=3>Miss</ion-select-option>
                </ion-select>
                <span *ngIf="ProfileForm.submitted && form.controls.titleForm.invalid">Please select a title</span>
                <ion-input placeholder="Name"  formControlName="nameForm" > </ion-input>
            </ion-item-group>
            <span *ngIf="ProfileForm.submitted && form.controls.nameForm.invalid">Please enter a name</span>
            <ion-item lines="none">
              <ion-input placeholder="Surname" formControlName="surnameForm"> </ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.surnameForm.invalid">Please enter a surname</span>
            <ion-item lines="none">
              <ion-input placeholder="Email Address" readonly="true" formControlName="emailaddressForm"> </ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.emailaddressForm.invalid">Please enter a email address</span>
            <ion-item lines="none">
              <ion-input placeholder="Phone Number" formControlName="phonenumberForm"> </ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.phonenumberForm.invalid">Please select a valid phone number</span>
            <ion-item lines="none">
              <ion-input placeholder="Username" readonly="true" formControlName="usernameForm"> </ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.usernameForm.invalid">Please enter a username</span>
     
            <ion-item lines="none">
              <ion-select align="center" [placeholder]="this.profileinfo[0].addresses[0].country.countryName" formControlName="countryForm" interface="popover">
               <ion-select-option value= 1 >South Africa</ion-select-option>
              </ion-select>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.countryForm.invalid">Please select a country</span>
            <ion-item lines="none">
              <ion-select align="center" [placeholder]="this.profileinfo[0].addresses[0].province.provinceName" formControlName="provinceForm" interface="popover">
                <ion-select-option  value= 1>Mpumalanga</ion-select-option>
                <ion-select-option  value= 2>KwaZulu-Natal</ion-select-option>
                <ion-select-option  value= 3>Gauteng</ion-select-option>
                <ion-select-option  value= 4>Eastern Cape</ion-select-option>
                <ion-select-option  value= 5>Northern Cape</ion-select-option>
                <ion-select-option  value= 6>Western Cape</ion-select-option>
                <ion-select-option  value= 7>Free State</ion-select-option>
                <ion-select-option  value= 8>Limpopo</ion-select-option>
                <ion-select-option  value= 9>North West</ion-select-option>
              </ion-select>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.provinceForm.invalid">Please select a province</span>
            <ion-item lines="none">
              <ion-input placeholder="City" formControlName="cityForm"> </ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.cityForm.invalid">Please enter a city</span>
            <ion-item lines="none">
              <ion-input placeholder="Address" formControlName="addressForm"></ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.addressForm.invalid">Please enter an address</span>
            <ion-item lines="none">
              <ion-input placeholder="Postal" formControlName="postalForm"> </ion-input>
            </ion-item>
            <span *ngIf="ProfileForm.submitted && form.controls.postalForm.invalid">Please enter a postal code</span>
          </ion-list>
         <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-button type="submit" id="update" (click)="Update()" type="submit">Update</ion-button>
        <ion-button type="submit" *ngIf="this.userRoleID == 1 ||this.userRoleID == 2" id="delete" (click)="Delete()" type="submit" >Delete</ion-button>
        
      </ion-row>
    </form>

  </ion-grid>
</ion-content>
