#AssignCourseTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%
}

#AssignCourseTable td, #AssignCourseTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #AssignCourseTable tr{background-color: #f6ffff;}
  
  #AssignCourseTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #008080;
    color: white;
  }
  ion-searchbar{
         align-self: center;
      --background: #ffffff;
      --placeholder-color: #000000;
      --color:var(--placeholder-color);
      --border-radius: 20px;
      margin-left: 780px; 
      width:480px;
  }

#TopSection{
   display: flex; 
    align-items: center; 
    justify-content: center;
}
