<ion-header [translucent]="true">

</ion-header>

<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <!-- Content of the screen -->
      
      <ion-row>
        <br> <br> <br>
        <ion-col></ion-col><img src="./assets/SAiCS Innovations-logo.png" alt="SAiCS logo" height="300" width="300">
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <!-- SAiCS innovations logo + Quote -->
        <ion-col></ion-col>
          <blockquote class="tweet-this">
            <p><q> The future belongs to those who believe in the beauty of their dreams </q><span>-Eleanor Roosevelt</span></p>
          </blockquote>
          <ion-col></ion-col>
      </ion-row>

      <ion-row>
        <!-- Registration completion form  -->
        <ion-col>
           <h1>Register</h1>
           <br>
           <form id="registerNextForm" [formGroup] = "register" (ngSubmit)="Register()" #localForm = ngForm>
             <ion-list>
               <ion-item lines="none" >
                <ion-input placeholder="username" readonly="true" formControlName="username" style="border: 0px;"> </ion-input>              
               </ion-item>
               <ion-item lines="none">
                <ion-input type="password" placeholder="Password" formControlName="password"> </ion-input>              
               </ion-item>
               <span *ngIf="localForm.submitted && register.controls['password'].invalid" style="color: red;">Please enter a password</span>
               <ion-item lines="none">
                <ion-input type="password" placeholder="Confirm Password" formControlName = "confirmpassword"> </ion-input>
               </ion-item>
               <span *ngIf="localForm.submitted && register.controls['confirmpassword'].invalid" style="color: red;">Please confirm your password</span>
             <br>
                <ion-button color="secondary" type="submit">Register</ion-button>
                <br><br>
                <span *ngIf="passwordMatchError"  style="color: red;">Your passwords do not match</span>
             </ion-list>
            </form>
        </ion-col >
      
      </ion-row>
    </ion-grid>
    </div>
</ion-content>