<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="secondary">
      <ion-button shape="round" routerLink="/clients-cart">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>My Ambassador</h1>

  <!--assigned Ambasassodr details-->
  <div id="myAmbassadorCard" *ngIf="myAmbassador != undefined">
    <ion-card>
      <ion-row>
        <ion-col>
        <img src="./assets/avatarIcon.jpg" height='300' width='300'/>
        <p >{{myAmbassador.ranking}}</p>
      </ion-col>

        <ion-col>
      <ion-card-content>
        <p>{{myAmbassador.title}} {{myAmbassador.name}}</p>
        <p>j{{myAmbassador.email}}</p>
        <p>{{myAmbassador.address.country}}</p>
        <p>{{myAmbassador.address.city}}</p>
        <p>{{myAmbassador.address.address}}</p>
        <p>{{myAmbassador.address.code}}</p>
        <p>0{{myAmbassador.address.phone}}</p>
         </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
