<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>My Ambassador</h1>

  <!--assigned Ambasassodr details-->
  <div id="myAmbassadorCard">
    <ion-card>
      <ion-row>
        <ion-col>
        <img src="./assets/avatarIcon.jpg" height='300' width='300'/>
        <p>Senior Agent</p>
      </ion-col>

        <ion-col>
      <ion-card-content>
        <p>Mr John Van der Merwe</p>
        <p>White Mamba</p>
        <p>johnvanmerwe21@gmail.com</p>
        <p>South Africa</p>
        <p>Pretoria</p>
        <p>1080 Prospect Street</p>
        <p>1080</p>
        <p>074 585 2659</p>
         </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

<ion-row>
  <ion-searchbar></ion-searchbar>
</ion-row>
<ion-row>
  <ion-col>
    <table id="ambassadors">
      <tr>
        <th>Full Name</th>
        <th>Alias Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <tr>
        <td>Kobus Monahan</td>
        <td>Koch and Sons</td>
        <td>Janice_Monahan@yahoo.com</td>
        <td>Port Beulah, Iowa 90719, United States of America</td>
        <td>969-068-8439</td>
      </tr>
      <tr>
        <td>Kobus Fadel</td>
        <td>Steuber LLC/td>
        <td>Rollin_Fadel@gmail.com</td>
        <td>Lake Matilde, Tennessee 74062, United States of America</td>
        <td>(017) 057-6055</td>
      </tr>
      <tr>
        <td>Kobus Stroman</td>
        <td>Konopelski Group</td>
        <td>Lera_Stroman3@gmail.com</td>
        <td>Vicentaview, Mississippi 47576-9639, United States of America</td>
        <td>166-619-2267</td>
      </tr>
      <tr>
        <td>Kobus Schiller</td>
        <td>Harber Inc</td>
        <td>Adan_Schiller19@yahoo.com</td>
        <td>VonRuedenberg, Delaware 99072-4003, United States of America</td>
        <td>(699) 824-5724</td>
      </tr>
    </table>
  </ion-col>
</ion-row>
    
  

</ion-content>
