<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" id="toolbarUserName"
      >John van de Merwe</ion-label
    >

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon
          size="large"
          name="person-circle"
          id="toolbarProfileIcon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="addForm"
    #localForm="ngForm"
    class="ion-padding"
    (ngSubmit)="submitForm()"
  >
    <ion-grid>
      <ion-row>
        <ion-item-group style="float: right; margin-left: 75%">
          <ion-searchbar
            id="searchProductBar"
            placeholder="Search for item from list"
          ></ion-searchbar>
        </ion-item-group>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item no-padding lines="none" color="none">
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <ion-label>
                    <span
                      class="required"
                      *ngIf="localForm.submitted && addForm.controls['sName'].invalid"
                      >*</span
                    >
                    Special Name:</ion-label
                  >
                  <ion-input
                    type="text"
                    placeholder="Enter special name"
                    formControlName="sName"
                  ></ion-input>
                </ion-col>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && addForm.controls['sType'].invalid">*</span> Special Type:</ion-label
                  >
                  <select placeholder="Select special type" formControlName="sType">
                    <option value="" disabled selected>Select type</option>
                    <option *ngFor="let s of specialTypes"  value="{{s.id}}">{{s.type}}</option>
                  </select>
                </ion-col>
              </ion-row>
              <br />
              <ion-row>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && addForm.controls['sImage'].invalid"
                    >*</span> Special Image:</ion-label
                  >
                  <ion-input type="file" (change)="onFileSelected($event)" placeholder="Select file" accept="image/x-png,image/jpeg" formControlName="sImage"></ion-input>
                </ion-col>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && addForm.controls['sPrice'].invalid"
                    >*</span> Special Price:</ion-label
                  >
                  <ion-input
                    type="number"
                    formControlName="sPrice"
                  ></ion-input>
                </ion-col>
              </ion-row>
              <br />
              <ion-row>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && addForm.controls['startDate'].invalid"
                    >*</span> Start Date:</ion-label
                  >
                  <input type="date" formControlName="startDate" />
                </ion-col>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && addForm.controls['endDate'].invalid"
                    >*</span> End Date:</ion-label
                  >
                  <input type="date" formControlName="endDate"/>
                </ion-col>
              </ion-row>

              <br />
              <ion-row>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && addForm.controls['sDescription'].invalid"
                    >*</span> Special Description:
                  </ion-label>
                  <ion-textarea
                    placeholder="Enter special description..."
                    formControlName="sDescription"></ion-textarea>
                </ion-col>
                <ion-col col-4>
                  <ion-label
                    ><span class="required"
                    *ngIf="localForm.submitted && specialItemsArr.length < 1"
                    >*</span> Special Items:
                  </ion-label>
                  <ion-card id="specialItemsCard">
                    <ion-card-content>
                      <ul>
                        <li *ngFor="let s of specialItemsArr">{{s.name}}</li>
                      </ul>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <div id="productTable">
            <ag-grid-angular
              style="height: 500px"
              class="ag-theme-alpine"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [rowSelection]="rowSelection"
              [rowMultiSelectWithClick]="true"
              (rowSelected)="onRowSelected($event)"
              (selectionChanged)="onSelectionChanged($event)"
            >
            </ag-grid-angular>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-item-group style="float: right; margin-left: 85%">
          <ion-button id="create" slot="end" type="submit">Create</ion-button>
          <ion-button id="cancel" slot="end">Cancel</ion-button>
        </ion-item-group>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
