<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <h1 align="center">View Ambassadors</h1>
  <br>
  <ion-item lines="none" >
    <div align="center" slot="end">
  <ion-input  id="searchbar"
   placeholder="Search ambassador..."
  (ionChange)="SearchAmbassador($event)">
</ion-input>
</div>
<ion-icon slot="end" name="search" (click)="Search()"></ion-icon>
</ion-item>
  <br><br>
  <table *ngIf="noResults == false">
    <thead align="center" >
        <tr>
          <th>Title</th>
          <th>Full name</th>
          <th>Ambassador Type</th>
          <th>Email Address</th>
          <th>Phone Number</th>
        </tr>    
    </thead>
    <tbody align="center">
    <tr *ngFor="let a of Ambassadors">
    <td >{{a.user.title.titleName}}</td>
    <td>{{a.user.name + " "+ a.user.surname}}</td>
    <td >{{a.ambassadorType.ambassadorTypeName}}</td>
    <td>{{a.user.email}}</td>
    <td>{{a.user.phoneNumber}}</td>
    </tr>
    <tr>
    </tbody>
    </table>
    <!-- no results found -->
    <div align="center" *ngIf="noResults == true">
    <img src="./assets/noresultsfound3.gif" alt="No results found">
    </div>
</ion-content>
