#searchbar{
    width: 300px;;
    float: right;
    border-radius: 10px;
    border: 1px solid black;
  }

  ion-toolbar
  {
    --background: #062b80;
  }

  ion-menu-button
  {
    --color: #FFFFFF;
  }
  ion-content {
    --background: #fafafa;
    --color : black;
  }

  ion-item{
    --background: #fafafa;
    
  }
  tbody tr:nth-child(even) 
  {
    background: #e8e7e1;
  }

  table
  {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
  }

  ion-select{
    border: solid 1pt black;
    border-radius: 12px !important;
    width: 300px;
    margin-left: 15px;

    --placeholder-color: black;
    --placeholder-opacity: 1;
  }

  td{
    text-align: center;
    height: 50px;
  }

  th{
    padding: 10px;
  }

  #a1{
    color: #08c10f;
  }


  #button{
    color: white;
    float: right;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    // margin-right: 5%;
    width: 100px;
  }

  thead{
    border-bottom: 1px solid black;
  }

  ion-icon{
    margin-right: 5%;
  }


 