<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round" id="ProfileIcon">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      
      <ion-button type="submit" (click)="Back()" style="margin-right: 90%; color: white; border-radius: 20%;">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      

      <ion-col></ion-col>
      <ion-col></ion-col>
        
    </ion-row>
    <div id="CourseDetailsCard">
      <ion-card>
      <img src="./assets/newcoursepic.png" />
    </ion-card>
    </div>
    <form [formGroup] = "CourseDetails">
   
  <h1 style="text-align: center;font-size: 50px;color: #333333;">Course Name</h1>
  
  <ion-row>
    <ion-col size="7" id="leftSection">
  <div class="CourseLeft">
    <h2 style="color: #333333">Course Content</h2>  
     <ion-item style="width: 800px;">
      <ion-col>
        <ion-accordion-group *ngFor="let sectionContent of sectionContent;let i = index">
          <ion-accordion>
            <ion-item slot="header" color="light">
              <ion-label slot="start">{{sectionContent.sectionName}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <div (click)="openDrive(sectionContent.contentLink)"><ion-label>-{{sectionContent.contentHeading}} (Click)</ion-label></div><br>
              <div (click)="OpenYT(sectionContent.youtubeLink)"><ion-label >-{{sectionContent.youtubeHeading}} (Click)</ion-label> </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
  </ion-col>
  </ion-item>
  <h2>Quiz</h2>
<!-- <ion-select style="border: black solid 1px;width:40%;" placeholder="Course Section"></ion-select> -->
<ion-card>
<ion-card-content *ngFor="let quiz of quiz">
  {{quiz.quizName}}
  <ion-item > 
    <ion-button slot="end" (click)="StartQuiz()">Start</ion-button>
  </ion-item>
</ion-card-content>

</ion-card>
  </div>
  
  </ion-col>
  <ion-col size="5" id="UploadSection">
    <div align="center" id="card">
    <ion-card id="courseDetails">
      
      <div *ngIf="ytVideo == true">
        <youtube-player 
        [videoId]="youtubeVieo" 
        suggestedQuality="highres" 
        [height]="250" 
        [width]="500">
      </youtube-player>
       <div>
        <ion-textarea placeholder="Notes..." style="height: 300px; width:410px;">
  
        </ion-textarea>
       </div>
    </div>
     
    </ion-card>
    </div>
</ion-col>
  </ion-row>
 
  </form>
</ion-grid>
  </ion-content>