#IntroCourseSide{
    float:right;
    padding-right: 4%;
    width:20%;
    height:650px;
}

#Accordion{
        line-height: 380px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;
}