<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="secondary">
      <ion-button shape="round" routerLink="/clients-cart">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 align = "center" ><b>Ambassador Intro Course</b></h1>
  <h3>Course Content</h3>
  <ion-accordion-group id="Accordion"width="100px">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Step 1- Introduction</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-label><a routerLink="/start-quiz" style="color:#08c10f;padding-left: 80%;">Start</a></ion-label>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Step 2- Marketing</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-label routerLink="/start-quiz" style="color:#08c10f;padding-left: 80%;">Start</ion-label>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Step 3- Closing Deals</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-label>-</ion-label>
        <ion-label><a routerLink="/start-quiz" style="color:#08c10f;padding-left: 80%;">Start</a></ion-label>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label><ion-icon ios="ios-arrow-down"></ion-icon>Step 4- Ambassadors</ion-label>
      </ion-item>
      <div class="ion-padding" slot="start">
        T<ion-label><a routerLink="/start-quiz" style="color:#08c10f;padding-left: 80%;">Start</a></ion-label>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label><ion-icon ios="ios-arrow-down"></ion-icon>Step 5- Money flow</ion-label>
      </ion-item>
      <div class="ion-padding" slot="start">
        <ion-label><a routerLink="/start-quiz" style="color:#08c10f;padding-left: 80%;">Start</a></ion-label>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-card class="IntroCourseSide" style="width:15%;border-style: solid;border-color:black;border: width 50cm;">
    <ion-card-content>
      <img src="./assets/trainingImage.jpg" height='150' width='150' />
      <ion-progress-bar value="0.2" width="50px" height="50px">0%</ion-progress-bar><br>
      <div>
        <ion-buttons>
        <ion-button routerLink="/start-quiz" style="background-color: #0070c0; color: white; width: 90%;" shape="round">
          Begin Course
        </ion-button>
        </ion-buttons>
      </div>
        <br><br>
        <p>This course was designed with the intention of equiping you to be the best SAiCS ambassador you can be.<br>
          Included:<br>          
          -5 Pdfs<br>          
          -4 Quizzes<br>
          -16 Videos</p>
      
    </ion-card-content>
  </ion-card>

</ion-content>
