<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  <br> <br> <br>
    <ion-label class="Heading"><h1 style="font-size: 25pt; text-align: center; font-style: normal;"> <b>Let Us Answer Your Questions!</b></h1></ion-label>
    <br>

  <div class="container">

  <ion-card class="accfaq-margin">
    <ion-card-header>
      <ion-card-title> 
        <ion-row> <span> Delivery </span>   
          <ion-icon class="P-icon" size="large"  name="car"  style="color: black;" ></ion-icon> </ion-row>
      </ion-card-title>
    </ion-card-header>


    <br>

    <ion-card-content>
      <ion-text>
        <H2>Q.. Can I track the status of my deliveries?</H2><br>
        <H3> A... Yes, Select the menu item and select orders.</H3><br><br>

        <H2>Q.. How long does delivery take?</H2><br>
        <H3> A... Approximately 3-5 working days if there aren't any warehouse complications.</H3><br><br>

        <H2>Q.. Will I incur any delivery costs for my order?</H2><br>
        <H3>A... Delivery costs will vary depending on the size of the order and the location of the end user </H3><br><br>

        <H2>Q.. Does SAiCS ship internationally?</H2><br>
        <H3>A... Currently we do not ship outside the borders of South Africa.</H3><br>


      </ion-text>
    </ion-card-content>

  </ion-card>

</div>

<ion-row> 
  <ion-col style="margin-top: 2%;">
    <div id="bubbles">
      <svg >
        <circle id="gray" cx="10" cy="60" r="60" fill="#a0a3a5"/>
        <circle id="teal" cx="50" cy="130" r="60" fill="#00008b" fill-opacity="0.8" />
        <circle id="blue" cx="120" cy="165" r="60" fill="#0070c0" fill-opacity="0.8" />
      </svg>
  </div>
  </ion-col>
</ion-row>
 
</ion-content>
