<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-item><h2 style="margin-left: 10pt;"><b>Update Banking Details</b> </h2> <ion-icon  slot="end"  name="close-outline"></ion-icon></ion-item>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <form>
  <ion-row style="margin-left: 5%;">
    <ion-col></ion-col>
    <ion-col>
      <ion-row>
        <ion-label>Account Holder:</ion-label><br>
        
      </ion-row>
      <ion-row>
        <ion-input placeholder="Please enter the account holder"></ion-input>
      </ion-row>
      <span>Please enter a valid account holder full name</span>
      <ion-row>
        <ion-label>Account Number:</ion-label><br>
      </ion-row>

      <ion-row><ion-input placeholder="Please enter the account number"></ion-input></ion-row>
      <span>Please enter a valid account number</span>
      <ion-row>
        <ion-label>Account type:</ion-label>
      </ion-row>
      <ion-row>
        
        <ion-select placeholder="Please select the account type">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-row>
      <span>Please select a valid account type</span>
      <ion-row>
        <ion-label>Bank Name:</ion-label>
      </ion-row>
      <ion-row>
        
        <ion-select placeholder="Please select a bank">
          <ion-select-option></ion-select-option>
        </ion-select>
      </ion-row>
      <span>Please select a bank</span>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row style="margin-left: 65%;">
    <ion-button type="submit">Update</ion-button>
    <ion-button type="submit" color="danger">Cancel</ion-button>
  </ion-row>
</form>
</ion-grid>

</ion-content>
