
ion-input{
    border-bottom: solid 1pt black ;
    width: 65%;
    // margin-right: 40%;
    // margin-top: 2%;

  }
  ion-label{
    margin-top: 2%;
  }

  img{
    margin: 3%;
  }

  ion-select{
    color: black;
    border-radius: 11px !important;
    height: 27pt;
    background-color: white;
    border: solid 1pt black;
    width: 65%;
    --placeholder-color: black;
    --placeholder-opacity: 1;

    // margin-right: 40%;
    // margin-top: 2%;
  }

  span{
    color: red;
  }

  ion-content{
    --background: white;
    --color : black;
    // border: solid 10px  #e5e5e5;
    // margin-left: 10pt;
    border-radius: 50px;
}
ion-toolbar{
  --background: white;
  --color : black;
  // border-bottom: solid 5px black;
  // margin-left: 10pt;
  // border-radius: 50px;
}

button{
    width: 80px;
    height: 45px;
    color: #f1f1f1;
    font-size: medium;
    border-radius: 10px;
  }

div{
    background-color: #e5e5e5;
    --color : black;
    margin: 9pt;
    border-radius: 10px;
}
select{
    border: solid 1pt black;
    border-radius: 12px !important;
    width: 400px;
    // margin-left: 15px;
    // margin-top: 2pt;
    margin-bottom: 10px;
    background-color: #e5e5e5;
    height: 40px;
  }

  ion-input{
        border: solid 1pt black;
        border-radius: 12px !important;
        width: 400px;
        // margin-left: 15px;
        // margin-top: 10px;
        
    --placeholder-color: black;
    --placeholder-opacity: 1;
       
  }
span{
  color: red;
}

ion-item{
    --background:white;
}
