<ion-header>
  <ion-toolbar>
    <ion-title>
      Update Merchandise
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="updateMerch" #localForm = 'ngForm' class="ion-padding" (ngSubmit)="ConfirmUpdate()">
   
      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Name:</ion-label>
        <ion-input formControlName="merchName"></ion-input>
        <span *ngIf="localForm.submitted && updateMerch.controls['merchName'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Type:</ion-label>
        <select placeholder="Pick" formControlName="merchTypeId">
          <option value="" disabled selected>Select product type</option>
          <option *ngFor="let m of merchTypes" value="{{m.merchTypeId}}">{{m.merchTypeName}}</option>
        </select>
        <span *ngIf="localForm.submitted && updateMerch.controls['merchTypeId'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Category:</ion-label>
        <select placeholder="Pick" formControlName="merchCatId">
          <option value="" disabled selected>Select product type</option>
          <option *ngFor="let m of merchCat" value="{{m.merchCategoryId}}">{{m.merchCategoryName}}</option>
        </select>
        <span *ngIf="localForm.submitted && updateMerch.controls['merchCatId'].invalid">Required</span>
      </ion-item-group>

      
      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Price:</ion-label>
        <ion-input formControlName="price" type="number" min="0" oninput="this.value = Math.abs(this.value)"></ion-input>
        <span *ngIf="localForm.submitted && updateMerch.controls['price'].invalid">Required</span>
      </ion-item-group> 

      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Image:</ion-label>
        <ion-input formControlName="merchImage" type="file"  accept="image/x-png,image/jpeg" (change)="onFileSelected($event)"></ion-input>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Description:</ion-label>
        <ion-textarea  formControlName="description"></ion-textarea>
        <span *ngIf="localForm.submitted && updateMerch.controls['description'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label style="margin-left: 0%;">Availability:</ion-label>
        <select placeholder="Pick" formControlName="status">
          <option value="" disabled selected>Select status</option>
          <option *ngFor="let m of merchStatus" value="{{m.merchStatusId}}">{{m.merchStatusName}}</option>
        </select><br> 
        <span *ngIf="localForm.submitted && updateMerch.controls['status'].invalid">Required</span>
      </ion-item-group>

        <ion-item-group style="float: right;">
          <ion-button id="update" slot="end" type="submit">Update</ion-button>
          <ion-button id="cancel" slot="end" (click)="dismissModal()">Cancel</ion-button>
        </ion-item-group>
  </form>
 
</ion-content>
