<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>


<ion-content>
  <br><br><br><br>

    <ion-row>
      <ion-col>
          <ion-select id="dropdown" placeholder="Select Agent Ranking">
            <!--Retrieved from database-->
            <ion-select-option value="Admin">Agent</ion-select-option>
            <ion-select-option value="Ambassador">Manager</ion-select-option>
            <ion-select-option value="Client">Distributor</ion-select-option>
          </ion-select>
        </ion-col>

      <ion-searchbar id="searchbar" placeholder="Search Agent" ></ion-searchbar>
    </ion-row>
  


   


  <br><br><br><br><br> 
  <table>
    <thead>
    <th>Title</th>
    <th>Full Name</th>
    <th>Alias Name</th>
    <th>Ranking</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Ranking Requests</th>
    </thead>
    <tbody>
    <tr>
    <td>Mr</td>
    <td>Matt Hardy</td>
    <td>Drako</td>
    <td>Junior Agent</td>
    <td>matthy@artisteer.com</td>
    <td>South St, Centurion</td>
    <td>0658976295</td>
    <td><button id="button" (click)="rankingrequest()">Request Change</button></td>
    </tr>
    <tr>
    <td>Mr</td>
    <td>Randy Orton</td>
    <td>Key</td>
    <td>Senior Agent</td>
    <td>randyo@hao123.com</td>
    <td>North St, Centurion</td>
    <td>0862563698</td>
    <td><button id="button">Request Change</button></td>
    </tr>
    <tr>
    <td>Ms</td>
    <td>Patrice Waller</td>
    <td>Glizzy</td>
    <td>Manager</td>
    <td>patwal@mac.com</td>
    <td>East St, Centurion</td>
    <td>0722561998</td>
    <td><button id="button">Request Change</button></td>
    </tr>
    <tr>
    <td>Mr</td>
    <td>Sergio Kitchens</td>
    <td>Wunna</td>
    <td>Junior Distributer</td>
    <td>skithcens@gmail.com</td>
    <td>West St, Centurion</td>
    <td>0867583698</td> 
    <td><button id="button">Request Change</button></td>
    </tr>
    </tbody>
    </table>

    <ion-row> 
      <ion-col style="margin-top: 18%;">
        <div id="bubbles">
          <svg >
            <circle id="gray" cx="10" cy="60" r="60" fill="#a0a3a5"/>
            <circle id="teal" cx="50" cy="130" r="60" fill="#00008b" fill-opacity="0.8" />
            <circle id="blue" cx="120" cy="165" r="60" fill="#0070c0" fill-opacity="0.8" />
          </svg>
      </div>
      </ion-col>
    </ion-row>

</ion-content>










