ion-toolbar
{
  --background: #062b80;
}

ion-menu-button
{
  --color: #FFFFFF;
}
ion-content {
  --background: #f5f5f5;
  --color : black;
}

  table
  {
    width: 85%;
    margin: auto;

  }
  
  th{
    background-color: #008080;
    color: white;
    height: 40px;
  }

  tbody{
    background-color: #f6ffff;
  }

  td{
    text-align: center;
    height: 60px;
  }

  #searchbar{
    margin-right: 5%;
    width: 25%;
    float: right;
    
  }


  #dropdown{
    float: left;
    margin-left: 5%;
    border: solid 2px;
    border-radius: 5px;
    width: 300px;
    color: black;
  }


  #button{
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    background-color: #062b80;
    border-radius: 5px;
    height: 35px;
    font-style: italic;
  }










