<ion-header [translucent]="true">
</ion-header>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()" #localForm = ngForm>
<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <!-- Bubbles on the right -->
      <ion-row style="height:80pt;margin-top:0;">
        <ion-col > </ion-col>
        <ion-col > </ion-col>
        <ion-col >
          <img src="./assets/SAiCS bubbles.png" style="width: 250pt;" alt="SAiCS logo">
        </ion-col>
      </ion-row>
     <!-- Content information -->
      <ion-row>
         <!-- SAiCS Logo on the left coloumn -->
        <ion-col >
          <img src="./assets/SAiCS Logo.png" alt="SAiCS logo">
        </ion-col>
        <ion-col >
          <!-- Login form inputs -->
          <br> <br> <br> <br> <br> <br><br>
          <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>Login </b></h1></ion-label>
          <br> <br> <br>
          <ion-input  placeholder="E-mail / Username" formControlName="input" [required]="true" align="center"></ion-input>
        
          <br>
          <span *ngIf="localForm.submitted && loginForm.controls['input'].invalid "> Please enter a valid username</span>
          <ion-input  name="password" [type]="showPassword?'text':'password'" placeholder-color="primary" color="primary" placeholder="Password"  formControlName="password" [required]="true" align="center"></ion-input>
          <br>
          <span *ngIf="localForm.submitted && loginForm.controls['password'].invalid ">Please enter a valid password </span>
           <br><br>
          <ion-button type="submit" shape="round" color="secondary">Login</ion-button>
          <br>  <br>
          <ion-label> <a routerLink="/reset-password">Reset Password </a></ion-label>
          <br> <br>
          <ion-label><a routerLink="/register">Register</a></ion-label>
        </ion-col >
      </ion-row>
    </ion-grid>
    </div>
</ion-content>
</form>
