<ion-header [translucent]="true">

</ion-header>
<form [formGroup]="loginForm" (ngSubmit)="submitForm()" #localForm = ngForm>
<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row style="height:80pt;margin-top:0;">
        <ion-col > </ion-col>
        <ion-col > </ion-col>
        <ion-col >
          <img src="./assets/SAiCS bubbles.png" style="width: 250pt;" alt="SAiCS logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <img src="./assets/SAiCS Logo.png" alt="SAiCS logo">
        </ion-col>
        <ion-col >
          <br> <br> <br> <br> <br> <br><br>
          <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>Login </b></h1></ion-label>
          <br> <br> <br>
          <ion-input  placeholder="E-mail / Username" formControlName="username" [required]="true" > </ion-input>
          <br>
          
          <span *ngIf="localForm.submitted && loginForm.controls['username'].invalid "> Please enter a valid username</span>
          <ion-input placeholder="Password" name="password"  formControlName="password" [required]="true"  > </ion-input>
          <br>
          <span *ngIf="localForm.submitted && loginForm.controls['password'].invalid ">Please enter a valid password </span>
           <br><br>
          <ion-button type="submit" shape="round" color="secondary">Login</ion-button>
          <br>  <br>
          <ion-label> Reset Password </ion-label>
          <br> <br>
          <ion-label> Register </ion-label>
        </ion-col >

      </ion-row>
    </ion-grid>
    </div>
</ion-content>
</form>