ion-label{
    --padding-start: 0%;
       font-style: italic;
        font-weight: bold;
        color: #333333;
        margin-left: 80px;
        padding-bottom: 70px;  
              
}
#BankingForm{
    height: fit-content;
}