<ion-header>
  <ion-toolbar>
    <ion-title><b>
      Ambassador Banking Detail</b>
    </ion-title>
    <ion-icon slot="secondary" name="close" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ng-form id="BankingForm">    
  <h4>Ambassador Name:</h4>
  <ion-label>John van der Merwe</ion-label><br>
  <h4>Bank Name:</h4>
  <ion-label>FNB</ion-label><br>
  <h4>Account Number:</h4>
  <ion-label>6281906176</ion-label><br>
  <h4>Account Type:</h4>
  <ion-label>Transmission</ion-label><br>
</ng-form>