#AssignCourseTable{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    // width: 100%;
    margin: 4%;
}
#searchbar{
  width: 300px;;
  float: right;
  border-radius: 10px;
  border: 1px solid black;
}


#AssignCourseTable td, #AssignCourseTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #AssignCourseTable tr{background-color: #f6ffff;}
  
  #AssignCourseTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #008080;
    color: white;
  }
  ion-searchbar{
         align-self: center;
      --background: #ffffff;
      --placeholder-color: #000000;
      --color:var(--placeholder-color);
      --border-radius: 20px;
      margin-left: 780px; 
      width:480px;
  }

#TopSection{
   display: flex; 
    align-items: center; 
    justify-content: center;
}
ion-toolbar
  {
    --background: #062b80;
  }

  ion-menu-button
  {
    --color: #FFFFFF;
  }
  ion-content {
    --background: #f5f5f5;
    --color : black;
  }
  #buttons{
    margin-top: 800px ;
  }
  ion-footer{
    --background: #f5f5f5;
    --color : black;
  }

//   h1
//   {
//     margin-left: 7%;
//   }

  tbody tr:nth-child(even) 
  {
    background: #e8e7e1;
  }

  ion-button{
    height: 70%;
  }

  table
  {
   
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
  }

  ion-select{
    border: solid 1pt black;
    border-radius: 12px !important;
    width: 300px;
    margin-left: 15px;
  }

  td{
    text-align: center;
    height: 50px;
  }

  #Assigned{
    color: green;
  }

  #NoCourses{
    color: red;
  }

  #a1{
    color: #08c10f;
  }

  ion-item{
    --background: #f5f5f5;
    
  }

  #button{
    color: white;
    float: right;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    margin-right: 5%;
    width: 100px;
  }
