<ion-header>
  <ion-toolbar>
    <ion-title>Create Merchandise</ion-title>
    <ion-button slot="end" large fill="transparent" (click)="dismissModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="merch" #localForm = 'ngForm' class="ion-padding" (ngSubmit)="submitForm()">
      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Name:</ion-label>
        <ion-input formControlName="merchName" placeholder="Enter product name"></ion-input>
        <span *ngIf="localForm.submitted && merch.controls['merchName'].invalid">Required</span>
        <span *ngIf="isExisting" style="margin-left: 15%;">Item already exists</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Type:</ion-label>
        <select placeholder="Pick" formControlName="merchTypeId">
          <option value="" disabled selected>Select product type</option>
          <option *ngFor="let m of merchTypes" value="{{m.merchTypeId}}">{{m.merchTypeName}}</option>
        </select><br> 
        <span *ngIf="localForm.submitted && merch.controls['merchTypeId'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Category:</ion-label>
        <select placeholder="Pick" formControlName="merchCatId">
          <option value="" disabled selected>Select product type</option>
          <option *ngFor="let m of merchCat" value="{{m.merchCategoryId}}">{{m.merchCategoryName}}</option>
        </select><br> 
        <span *ngIf="localForm.submitted && merch.controls['merchCatId'].invalid">Required</span>
      </ion-item-group>


      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Price:</ion-label>
        <ion-input formControlName="price" type="number" min="0" oninput="this.value = Math.abs(this.value)"></ion-input>
        <span *ngIf="localForm.submitted && merch.controls['price'].invalid">Required</span>
        <br>
      </ion-item-group> 

      <ion-item-group>
        <ion-label style="margin-left: 10%;">Merchandise Image:</ion-label>
        <ion-input formControlName="merchImage" type="file" (change)="onFileSelected($event)" accept="image/x-png,image/jpeg"></ion-input>
        <span *ngIf="localForm.submitted && merch.controls['merchImage'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Description:</ion-label>
        <ion-textarea formControlName="description" placeholder="Enter product description..."></ion-textarea>
        <span *ngIf="localForm.submitted && merch.controls['description'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label style="margin-left: 0%;">Availability:</ion-label>
        <label style="margin-right: 41%;">{{merchStatus.merchStatusName}}</label>
      </ion-item-group>

      <ion-item-group style="float: right;">
        <ion-button id="create" slot="end"  type="submit">Create</ion-button>
        <ion-button id="cancel" slot="end" (click)="dismissModal()">Cancel</ion-button>
      </ion-item-group>
  </form>
 
</ion-content>
