ion-card-title{
    color: 333333; 
    text-align: center;
}
ion-card{
    width: 300px;
    border: black solid 1px;
     border-radius: 10px; 
     height: 25%;
}

ion-radio{
    margin-top: 10%;
}

div{
    margin-left: 2%;
}

.cart-length {
    position: absolute;
    top: 0px;
    right: -5px;
    font-weight: 600;
    width: 18px;
    height: 18px;
    z-index: 10;
    background-color: #9c27b0;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#Startbtn{
    border-radius: 10px ;
    margin-left:80%;
    background-color: #08c10f;
    color:white;
}
ion-progress-bar{
    width: 150px;
    height: 10px;
    border-radius: 20px;
    background-color: white;
    transform: scaleX(1);
}
#begincoursebtn{
    background-color: #0070c0;
     color: white; 
     width: 250px;
     border-radius: 10px;
     margin-left: 70px;
}


ion-accordion-group{
    width: 720px ;
}
.IntroCourseSide{
    width:400px;
    border-style: solid;
    border-color:black;
    border: width 50cm;
    height: 750px;
    float: right;
}
#IntroCourseSideProgressBar{
    width: 350px;
     height: 20px;
}
ion-label{
    width: 200px;
}