  <ion-header>
    <ion-toolbar>
      <ion-title>
        Add Quiz 
      </ion-title>
      <ion-icon slot="end" name="close" (click)="dismissModal()" (ngSubmit)="CreateQuiz()"></ion-icon>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-grid>
    <form [formGroup]="AddQuiz" #localForm = 'ngForm' >   
      <br>
      <ion-row>
        <div>
        <ion-col>
          <ion-label>Quiz Name:</ion-label>
           <ion-input formControlName="quizname" type="text" placeholder="Enter quiz name"></ion-input>
          <span *ngIf="localForm.submitted && AddQuiz.controls['quizname'].invalid">*Required</span>
        </ion-col>
      </div>
        </ion-row>

        <ion-row id="Questions">
          <div>
          <ion-col >
<br>
          <ion-label>Question:</ion-label>
          <ion-input formControlName="quizquestion" type="text" placeholder="Enter a question"></ion-input> 
          <span *ngIf="(localForm.submitted ||ListError) && AddQuiz.controls['quizquestion'].invalid">*Required</span>
<br>
          <ion-label>Answer:</ion-label>
           <ion-input formControlName="quizanswer" type="text" placeholder="Enter the answer"></ion-input>
           <span *ngIf="(localForm.submitted ||ListError) && AddQuiz.controls['quizanswer'].invalid">*Required</span>
<br>
           <ion-label>Other options:</ion-label>
           <ion-input formControlName="option1" type="text" placeholder="Enter the answer"></ion-input>
           <span *ngIf="(localForm.submitted ||ListError) && AddQuiz.controls['option1'].invalid">*Required</span>
           <br>
           <ion-input formControlName="option2" type="text" placeholder="Enter the answer"></ion-input>
           <span *ngIf="(localForm.submitted ||ListError) && AddQuiz.controls['option2'].invalid">*Required</span>
           <br>
           <ion-input formControlName="option3" type="text" placeholder="Enter the answer"></ion-input>
           <span *ngIf="(localForm.submitted ||ListError) && AddQuiz.controls['option3'].invalid">*Required</span>
           <br>
           <ion-button  (click)="AddToQuestionBank()">Add</ion-button>
          </ion-col>
        </div>
          </ion-row>
           <br> <br>
           <ion-row>
           <div >
            <ion-label>Question Bank</ion-label>
            <ion-list >
              <ion-item *ngFor="let listItem of QuestionBankList"  lines="none">{{listItem.Questions}}</ion-item>
             </ion-list>
          </div>
          <br>
        </ion-row>
          <ion-buttons>
            <ion-button type="submit" (click)="CreateQuiz()" id="ModalBlueButtons">
              Add
            </ion-button>
            <ion-button type="submit" id="ModalRedButtons" (click)="dismissModal()">
              Close
            </ion-button>
          </ion-buttons>
    </form> 
  </ion-grid>  
  </ion-content>