<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary" routerLink="/view-ambassador-cart">
      <ion-button shape="round" >
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
        <div class="cart-length" *ngIf="TotalItems > 0" color="danger">{{TotalItems}}
        </div>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">{{username}}</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

   <br>
   <ion-row>
    <ion-col>
      <h1 style="font-weight: 600; margin-left: 25%;">Client Orders</h1>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <ion-button (click)="ContextHelp()" style="margin-left: 50%;"><ion-icon  name="help-circle-outline"></ion-icon></ion-button>
    </ion-col>
   </ion-row>
 
  <div class="tab">
    <button class="tablinks" (click)="openOrder($event, 'Pending')">Current Orders</button>
    <button class="tablinks" (click)="openOrder($event, 'Complete')">Completed orders</button>
    </div>

    <br>

    <div id="Pending" class="tabcontent">
      <ion-grid>
        <ion-row>
  <table>
    <thead>
    <th>Order No</th>
    <th>Date</th>
    <th>Full Name</th>
    <th>Number Of Items</th>
    <th>Total Amount</th>
    <th>Commission</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <ng-container *ngFor="let o of orders | paginate: { itemsPerPage: 8, currentPage: p1, id: 'pendingTB'}" id="o.id">
      <tr *ngIf="o.status == 'Pending'">
        <td>{{o.id}}</td>
        <td>{{o.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{o.customer}}</td>
        <td>{{o.quantity}}</td>
        <td>{{o.amount | currency: 'ZAR':'symbol-narrow'}}</td>
        <td>{{o.commission | currency: 'ZAR':'symbol-narrow'}}</td>
        <td> <ion-button (click)="ViewOrderDetail(o.id)" fill="clear" id="OrderDetsBtn">View Details</ion-button></td>
        <td><ion-button (click)="setOpen(o.id)" fill="clear" id="UpdateDetsBtn">Update Order Status</ion-button></td> 
        </tr>
    </ng-container>
    <tr *ngIf="orders.length == 0">
      <td colspan="5">No Orders Found</td>
    </tr>
    </tbody>
    </table>
  </ion-row>
    <ion-row>
      <div class="pagination">
        <pagination-controls id="pendingTB" (pageChange)="p1 = $event"></pagination-controls>
      </div>
    </ion-row>
  </ion-grid>
  </div>


  <div id="Complete" class="tabcontent">
    <ion-grid>
      <ion-row>
    <table>
    <thead>
      <th>Order No</th>
      <th>Date</th>
      <th>Full Name</th>
      <th>Number Of Items</th>
      <th>Total Amount</th>
      <th>Commission</th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <ng-container *ngFor="let o of orders | paginate: { itemsPerPage: 8, currentPage: p2, id: 'completeTB'}" id="o.id">
        <tr *ngIf="o.status == 'Complete'">
          <td>{{o.id}}</td>
          <td>{{o.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{o.customer}}</td>
          <td>{{o.quantity}}</td>
          <td>{{o.amount | currency: 'ZAR':'symbol-narrow'}}</td>
          <td>{{o.commission | currency: 'ZAR':'symbol-narrow'}}</td>
          <td> <ion-button (click)="ViewOrderDetail(o.id)" fill="clear" id="OrderDetsBtn">View Details</ion-button></td> 
          </tr>
      </ng-container>
      </tbody>
      </table>
    </ion-row>
    <ion-row>
    <div class="pagination">
      <pagination-controls id="completeTB" (pageChange)="p2 = $event"></pagination-controls>
    </div>
  </ion-row>
    </ion-grid>
  </div>

 
</ion-content>
