<ion-header>

</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <!-- Bubbles on right of scrceen -->
      <ion-row style="height:80pt; margin-top:12%;">
        <ion-col > </ion-col>
        <ion-col > </ion-col>
        <ion-col>
          <div id="bubbles">
            <svg >
              <circle id="gray" cx="70" cy="60" r="45" fill="#00008b"/>
              <circle id="teal" cx="130" cy="80" r="45" fill="#25a6e1" fill-opacity="0.8" />
              <circle id="blue" cx="195" cy="105" r="45" fill="#a0a3a5" fill-opacity="0.8" />
            </svg>
        </div>
        </ion-col>
      </ion-row>
      <!-- Contents of the screen  -->
      <ion-row>
         <!-- SAiCS logo  -->
        <ion-col >
          <img src="./assets/SAiCS Logo.png" alt="SAiCS logo">
        </ion-col>
        <!--Reset password inout fields -->
        <ion-col >
          <br> <br> <br> <br> <br> <br><br>
          <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>Reset Password </b></h1></ion-label>
          <br> <br> <br>
          <ion-input placeholder="New Password"> </ion-input>
          <br>
          <ion-input placeholder="Confirm New Password"> </ion-input>
          <br> <br><br>
          <ion-button>Reset</ion-button>
        </ion-col >

      </ion-row>
    </ion-grid>
    </div>

</ion-content>
