<ion-header>

</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <!-- Bubbles on right of scrceen -->
      <ion-row style="height:80pt; margin-top:12%;">
        <ion-col > </ion-col>
        <ion-col > </ion-col>
        <ion-col>
          <div id="bubbles">
            <svg >
              <circle id="gray" cx="70" cy="60" r="45" fill="#00008b"/>
              <circle id="teal" cx="130" cy="80" r="45" fill="#25a6e1" fill-opacity="0.8" />
              <circle id="blue" cx="195" cy="105" r="45" fill="#a0a3a5" fill-opacity="0.8" />
            </svg>
        </div>
        </ion-col>
      </ion-row>
      <!-- Contents of the screen  -->
      <ion-row>
         <!-- SAiCS logo  -->
        <ion-col >
          <img src="./assets/SAiCS Logo.png" alt="SAiCS logo">
        </ion-col>
        
        <!--Reset password email -->
          <ion-col *ngIf="EmailSent" >
            <form [formGroup]="EmailorUsernameForm" #EmailForm = 'ngForm' (ngSubmit)="EmailResetPassword()">
            <br> <br> <br> <br> <br> <br><br>
            <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>Reset Password </b></h1></ion-label>
            <br> <br> <br>
            <ion-input formControlName="emailorusername" placeholder="Enter username"> </ion-input>
            <span *ngIf="EmailForm.submitted && EmailorUsernameForm.controls.emailorusername.invalid">Please enter a Email or Username</span>
            <br> <br>
            <ion-button type="submit">Submit</ion-button>
          </form>
          </ion-col >
          
        <!--Otp pin -->
        <ion-col *ngIf="OTPSent">
          <form [formGroup]="OTPForm" #OtpForm = 'ngForm' (ngSubmit)="ValidateOTP()">
          <br> <br> <br> <br> <br> <br><br>
          <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>Reset Password </b></h1></ion-label>
          <br> <br> <br>
          <ion-input formControlName="otp" placeholder="Please OTP PIN"> </ion-input>
          <span *ngIf="OtpForm.submitted && OTPForm.controls.otp.invalid ">Please enter a OTP </span>
          <br><br>
          <label (click)="ResendOTP()" style="color: #0000EE;"><u>Resend OTP message?</u></label> <br>
          <ion-button type="submit">Reset</ion-button>
        </form>
        </ion-col >
      
        <!-- Reset password -->
        <ion-col *ngIf="OTPValidated">
          <form [formGroup]="PassWordForm" #ResetPasswordForm = 'ngForm' (ngSubmit)="ResetPassword()">
          <br> <br> <br> <br> <br> <br><br>
          <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>Reset Password </b></h1></ion-label>
          <br> <br> <br>
          <ion-input type="password" formControlName="password" placeholder="New Password"> </ion-input>
          <span *ngIf="ResetPasswordForm.submitted && PassWordForm.controls.password.invalid">Please enter a valid password of atleast 14 characters</span>
          <br>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm New Password"> </ion-input>
          <span *ngIf="ResetPasswordForm.submitted && PassWordForm.controls.confirmPassword.invalid">Please confirm your password of atleast 14 characters</span>  
          <br> <br><br>
          <span *ngIf="ResetPasswordForm.submitted && this.PassWordForm.get(['password']).value != this.PassWordForm.get(['confirmPassword']).value">Passwords Dont Match</span><br>
          <ion-button type="submit">Reset</ion-button>
        </form>
        </ion-col >

      </ion-row>
    </ion-grid>
    </div>

</ion-content>
