<ion-header>
  <ion-toolbar>
    <ion-button slot="end" large fill="transparent" (click)="Back()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-grid>
    <!-- <ion-row>
      <ion-button fill="clear" slot="start" (click)="Back()">
        <ion-icon size="large" name="arrow-back" color="light"></ion-icon>
       </ion-button>
    </ion-row> -->
    <br>
    <ion-row>
      <ion-col></ion-col>
      <ion-label class="Heading"><h1 style="font-size: 21pt;"> <b>About Us</b></h1></ion-label>
      <ion-col></ion-col>
  </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <img src="./assets/SAiCS Innovations-logo.png" alt="SAiCS logo">
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <p>The South African Institute of cosmetics and slimming (Abbreviated to SAiCS) was established in
        1989 and re-branded in 2020 to keep up with modern trends.</p>
    </ion-row>

    <ion-row>
      <p>Over the years we have grown our extensive range of all natural products under three main
        categories namely: Slimming, Cosmetics and Lifestyle with new products and ranges being
        released regularly.</p>
        <p>The South African Institute of cosmetics and slimming (Abbreviated to SAiCS) was established in
          1989 and re-branded in 2020 to keep up with modern trends.</p>

          <p>SAiCS as a company can be broken down into 3 main categories being:</p>
          <ul>
            <li>Manufacturing: We manufacture, bottle and label all our own products.</li>
            <li>
              Order management and dispatch: We receive orders from top distributors and dispatch in
             through outsourced courier companies.
            </li>
            <li>
              Training and Assistance: We provide training, marketing material and support to all our
              ambassadors.
            </li>
          </ul>
          <p>SAiCS currently has 10 full time employees and over 700 ambassadors spread across southern
            Africa, Europe and Australasia.</p>
    </ion-row>
  </ion-grid>
</ion-content>
