<!--

  <br><br>
    <ion-card style="height: 300px; margin-left: 35%; margin-right: 35%; box-shadow: 2px 2px 4px 5px; margin-top: 150px;">
      
      <ion-item>
        <ion-label style="font-size: 19px; font-weight: bold;">Update Order Status</ion-label>
        <ion-icon  name="close-outline" size="medium"></ion-icon>
      </ion-item><br>

      <select id="dropdown" placeholder="Select Order Status">
        <select>Processing</select>
        <select >Completed</select>
      </select><br>
      
      <ion-row>   
        <input style="margin-left: 5%;" type="checkbox">
        <label style="margin-left: 8%;" for="delivery?">Delivery?</label><br>
      </ion-row><br>

      <ion-row>
        <label style="margin-left: 5%;" for="delivery?">Tracking Number:</label><br>
        <input style="margin-left: 5%; width: 50%; height: 25px;" type="text">
      </ion-row><br><br><br>

      <hr style="border: none;border-top: 1px double #D3D3D3; color: #D3D3D3; overflow: visible; text-align: center; height: 5px; width: 100%;">
      <button style="  background-color: #008080; border: none;" id="button">Update</button><br>
    </ion-card>-->

