<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
