ion-toolbar {
  --background: #062b80;
}

ion-menu-button {
  --color: #ffffff;
}
ion-content {
  --background: #f5f5f5;
  --color: black;
}

h1 {
  text-decoration: underline;
  margin-left: 5%;
}

#ordernum {
  margin-left: 5%;
  float: left;
  font-size: large;
  font-weight: bold;
}

#orderdate {
  margin-right: 20%;
  float: right;
  font-size: large;
  font-weight: bold;
}

#orderedby {
  margin-left: 10%;
  float: left;
  //position:absolute; right:30px;
}

#subheader {
  font-size: large;
}

#shippingaddress {
  float: left;
  margin-left: 30%;
}

#ordersummary {
  float: right;
  margin-right: 8%;
  //position:absolute; left:30px;
}

#pdfButton {
  --background: #08c10f;
  text-transform: none;
  width: 180px;
  height: 35px;
  font-size: 15px;
}

.cart-length {
  position: absolute;
  top: 0px;
  right: -5px;
  font-weight: 600;
  width: 18px;
  height: 18px;
  z-index: 10;
  background-color: #9c27b0;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}