<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <h1>Order Details</h1>

  <br><br>

    <div id="textbox">
      <p id="ordernum">Order #120</p>
      <p id="orderdate">Ordered 20 July 2022</p>
    </div>

    <br><br><br><br><br>
    <div id="textbox">

      <div id="orderedby">
        <p id="subheader">Ordered by</p><br>
        <p>Roi Pattuli</p>
        <p>0787666234</p>
        <p>rpattuli@gmail.com</p>
      </div>

      <div id="shippingaddress">
        <p id="subheader">Shipping Address</p><br>
        <p>25 Bird Street</p>
        <p>Arcadia</p>
        <p>Pretoria</p>
        <p>0009</p>
      </div>

      <div id="ordersummary">
        <p id="subheader">Order Summary</p><br>
        <p>1 X Face Cream &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  R59.99</p>
        <p>1 X Face Wash &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    R300.00 </p>
        <p>Total   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  R359.99</p>
        <p>Shipping &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;   R100.00</p>
        <p>Order Total &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    R459.99</p>
      </div>

    </div>
  
  

</ion-content>
