<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary" routerLink="/view-ambassador-cart">
      <ion-button shape="round" >
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
        <div class="cart-length" *ngIf="TotalItems > 0" color="danger">{{TotalItems}}
        </div>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">{{username}}</ion-label>

    <ion-buttons slot="end">
      <ion-button  shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-row>
    <ion-button id="SpecifiButtopns" (click)="Back()"  style="margin-right: 90%; color: white; border-radius: 20%;">
      <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <h1>Order Details</h1>
  </ion-row>


  <br>
<ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-item lines="none" color="transparent">
        <ion-label>
          <p id="ordernum">Order #{{details.id}}</p> <br>
          <ion-button id="pdfButton" (click)=" DownloadPayment()">
            <span>Proof of payment</span>
            <ion-icon name="download-outline" style="color: white; padding-left: 1%;"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4"></ion-col>
    <ion-col size="4"><p id="orderdate">Ordered {{details.date | date: 'dd MMMM yyyy'}}</p></ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col size="4">
      <div id="orderedby">
        <p id="subheader">Ordered by</p><br>
        <p>{{details.customer}}</p>
        <p>0{{details.phone}}</p>
        <p>{{details.email}}</p>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="details.delivery != null">
      <div id="shippingaddress" >
        <p id="subheader">Shipping Address</p><br>
        <p>{{details.address}}</p>
        <p>{{details.city}}</p>
        <p>{{details.province.provinceName}}</p>
        <p>{{details.postalCode}}</p>
      </div>
    </ion-col>
    <ion-col size="4">
      <div id="ordersummary">
        <p id="subheader">Order Summary</p><br>
        <p *ngFor="let o of details.orderItems">{{o.quantity}} X {{o.name}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  {{o.price | currency: 'ZAR':'symbol-narrow'}}</p>
        <p>Total   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{subtotal | currency: 'ZAR':'symbol-narrow'}}</p>
        <p *ngIf="details.delivery != null">Shipping &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;   {{details.deliveryAmount | currency: 'ZAR':'symbol-narrow'}}</p>
        <p>Order Total &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    {{subtotal + details.deliveryAmount | currency: 'ZAR':'symbol-narrow'}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
  
<!-- 
    <div id="textbox">
      <p id="ordernum">Order #120</p>
      <button  type="submit" style="background-color: #08c10f; width: 60%;" id="button">Place Order</button>
      <p id="orderdate">Ordered 20 July 2022</p>
    </div>

    <br><br><br><br><br>
    <div id="textbox">

      <div id="orderedby">
        <p id="subheader">Ordered by</p><br>
        <p>Roi Pattuli</p>
        <p>0787666234</p>
        <p>rpattuli@gmail.com</p>
      </div>

      <div id="shippingaddress">
        <p id="subheader">Shipping Address</p><br>
        <p>25 Bird Street</p>
        <p>Arcadia</p>
        <p>Pretoria</p>
        <p>0009</p>
      </div>

      <div id="ordersummary">
        <p id="subheader">Order Summary</p><br>
        <p>1 X Face Cream &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  R59.99</p>
        <p>1 X Face Wash &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    R300.00 </p>
        <p>Total   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  R359.99</p>
        <p>Shipping &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;   R100.00</p>
        <p>Order Total &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    R459.99</p>
      </div>

    </div>
   -->
  

</ion-content>
