<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-card id="checkout" style="float: left; width: 85%; height: 110%; margin-left: 4%"><br>
          <p style="font-size: 27px; font-weight: 150; color: black; text-decoration-color: black; text-align: left; margin-left: 7%;">Checkout</p>
          <hr style="border: none;border-top: 2px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 93%; margin-left: 3%;">
      
          <p style="font-size: 22px; font-weight: 150; color: black; text-decoration-color: black; text-align: left; margin-left: 7%;">1. Shipping Information</p>
          <hr style="border: none;border-top: 1px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 85%; margin-left: 7%;">
           
          <p style="float: left; font-weight: 150;  margin-left: 70px; color: black; font-size: 20px;">Add New Address</p><br><br>
          
          <form [formGroup]="newAddress" #localForm = 'ngForm' (ngSubmit)="OnSubmit()">
          <ion-grid>
            <ion-row>
              <ion-item style="margin-left: 5%;" lines="none">
                <ion-label style="font-size: 15px;">Country</ion-label>
              </ion-item>
              <br>
              <ion-select id="dropdown" placeholder="Country" style="width: 85%;" formControlName="country">
                <ion-select-option *ngFor="let c of countries" value="{{c.countryId}}" >{{c.countryName}}</ion-select-option>
              </ion-select>
              <ion-item style="margin-left: 5%;" lines="none">
                <span style="font-size: 13px;" *ngIf="localForm.submitted && newAddress.controls['address'].invalid">Required</span>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item style="margin-left: 5%;" lines="none">
                <ion-label style="font-size: 15px;">Address</ion-label>
              </ion-item>
              <input style="float: left; margin-left: 7%; height: 35px; width: 85%;" type="text" placeholder="Enter Your Address" formControlName="address">
              <ion-item style="margin-left: 5%;" lines="none">
                <span style="font-size: 13px;" *ngIf="localForm.submitted && newAddress.controls['address'].invalid">Required</span>
              </ion-item>
            </ion-row>
            <!-- <ion-row>
              <ion-item tyle="margin-left: 5%;" lines="none">
                <ion-label>City</ion-label> 
              </ion-item>
              <ion-input style="float: left; margin-left: 7%; height: 35px; width: 85%;" type="text" placeholder="Enter Your City" formControlName="address"></ion-input>
            </ion-row> -->
            <ion-row>
              <ion-item style="margin-left: 5%;" lines="none">
                <ion-label style="font-size: 15px;">City</ion-label>
              </ion-item>
              <input style="float: left; margin-left: 7%; height: 35px; width: 85%;" type="text" placeholder="Enter Your City" formControlName="city">
              <ion-item style="margin-left: 5%;" lines="none">
                <span style="font-size: 13px;" *ngIf="localForm.submitted && newAddress.controls['city'].invalid">Required</span>
              </ion-item>
            </ion-row>
          
      
          <label style="float: left; margin-left: 7%; color: black" >Postal Code</label>
          <label style="float: right; margin-right: 43%; color: black" for="Name">Phone Number</label><br>
      
          <input style="float: left; margin-left: 7%; height: 35px; width: 300px;" type="text" placeholder="Enter Your Postal Code" formControlName="postalCode">
          <input style="float: right; margin-right: 8%; height: 35px; width: 390px;" type="text" placeholder="XXX-XXX-XXXX" formControlName="phone"><br>
      
          <br><br>
          <div class="buttons">
            <ion-button style="--background:#0070c0; text-transform: none;" type="submit">Save</ion-button>
            <ion-button style="--background:#424242;text-transform: none;" routerLink="/ambassador-checkout-ii">Cancel</ion-button>
          </div>
        </ion-grid>
        </form>
      </ion-card>
      </ion-col>
      
    <ion-col size="3">
      <ion-card id="ordersummary" style=" margin-right: 30%; width:100%; height: 650px">
        <p style="font-size: 19px; font-weight: 150;  color: black; text-decoration-color: black; text-align: center;">Order Summary</p>
        <hr style="border: none;border-top: 2px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 90%;">
        <ion-list>
          <ion-item lines="none">
            <ion-label>Items: {{OdrSmry.itemCount}}</ion-label>
            <ion-label slot="end">R{{OdrSmry.subtotal}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start">Shipping</ion-label>
            <ion-toggle slot="end" disabled="true" [checked]="deliveryOption==true? true: false" [(ngModel)]="deliveryOption" (ngModelChange)="toggleValue()"></ion-toggle><br>
          </ion-item>
          <ion-item lines="none">
            <ion-input *ngIf="deliveryOption" id="deliveryInput" type="text" placeholder="Courier - R200"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Discount</ion-label>
            <ion-label slot="end">R{{OdrSmry.discount}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>VAT Amount</ion-label>
            <ion-label slot="end">R{{OdrSmry.vat}}</ion-label>
          </ion-item>
          <hr style="border: none;border-top: 1px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 85%;">
          <ion-item lines="none">
            <ion-label>Total Cost</ion-label>
            <ion-label slot="end">R{{OdrSmry.totalCost}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <button disabled="true" style="background-color: #08c10f; width: 60%;" id="button">Place Order</button>
          </ion-item>
        </ion-list>
        <!-- <p style="float: left; font-weight: 150;  margin-left: 20px; color: black; font-size: 18px;">Items: 4</p>
        <p style="float: right; font-weight: 150;  margin-right: 20px; color: black; font-size: 18px;">R3950</p><br><br><br><br>
  
        <p style="float: left; font-weight: 150; margin-left: 20px; color: black; font-size: 18px;">Shipping</p>
        <ion-toggle style="float: right; margin-right: 15px; color: black; margin-top: 11px;"></ion-toggle><br><br><br><br><br>
  
        <input style="border-radius: 3px; border:black solid 2px; margin-left: 25px; margin-right: 15px;height: 30px; width: 250px;" type="text" placeholder="Courier - R"><br><br>
  
        <p style="float: left; font-weight: 150;  margin-left: 20px; color: black; font-size: 18px;">Discount</p>
        <p style="float: right; font-weight: 150; margin-right: 20px; color: black; font-size: 18px;">R375</p><br><br><br><br>
  
        <p style="float: left; font-weight: 150; margin-left: 20px; color: black; font-size: 18px;">VAT Amount</p>
        <p style="float: right; font-weight: 150;  margin-right: 20px; color: black; font-size: 18px;">R562</p><br><br><br><br><br>
  
        <hr style="border: none;border-top: 1px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 85%;">
  
        <p style="float: left; font-weight: 150;  margin-left: 20px; color: black; font-size: 18px;">Total Cost</p>
        <p style="float: right; font-weight: 150;  margin-right: 20px; color: black; font-size: 18px;">R3975</p><br><br><br><br><br>
   -->
    </ion-card>
    </ion-col>
    
      
    </ion-row>
  </ion-grid>

<br><br>

</ion-content>
