
ion-content, ion-toolbar{
  --background: #f1f1f1;
  --color : black;
  ion-title{font-weight: bolder;}
}


ion-label, span{font-style: italic;
  padding: 5px;
  font-weight: bold;
  margin-right: 45%;
  color: #333333;}

form
{
 // --padding-start: 0%;
 // text-align: center;
  ion-item-group{padding: 10px;
  }
  
span{color: #f44336; margin-right: 40%;}
}

ion-input, ion-textarea, ion-select, select{
  border: 2px solid #9e9e9e;
  width: 250px;
  margin-left: 1%;
  border-radius: 10px;
  text-align: left;
  --background:white;
  
}

ion-select
{
  background-color:white !important;
  color: black;
}

ion-select, ion-input, select{height: 40px; }
ion-textarea{height: 150px;}

ion-textarea, ion-input[placeholder], ion-select[placeholder], select
  {
    color: black;
    text-align: left;
    opacity: 1 !important;
    
  }


ion-item{
--ion-color-primary: #e5e5e5;
--ion-color-primary-rgb: 229,229,229;
--ion-color-primary-contrast: #000000;
--ion-color-primary-contrast-rgb: 0,0,0;
--ion-color-primary-shade: #cacaca;
--ion-color-primary-tint: #e8e8e8;
background-color: #e5e5e5;
}

#addIcon
{
  color: #08c10f;
}

#specialItemsCard {
  height: 160px;
  width: 250px;
  border: 2px solid #9e9e9e;
  margin-left: 7% !important;

  ion-fab-button {
    width: 18px;
    height: 18px;
  }
}

#cancelButton{--background: #f44336; text-transform: none;}