<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    
    <ion-buttons slot="secondary">
      <ion-button shape="round" routerLink="/clients-cart">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    

    <ion-label slot="secondary" id="toolbarUserName">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <ion-card id="Checkout">
        <ion-card-content>
           <h1><b>Checkout</b></h1><br>
           <hr style="border: none; border-top:2px double;">
           <h1><b>Add New Address</b></h1>
           <ion-label><a routerLink="/client-checkout" style="color:#0070c0;text-decoration:underline;padding-left: 80%;">Use Existing Address</a></ion-label><br>
           <h3>Shipping Address</h3><br>
           <ion-label>Country</ion-label>
           <br><ion-select placeholder="Select Your Country" style="background-color: white; width:50%; border: black solid 1px;">
            <ion-select-option value="1">South Africa</ion-select-option>
        <ion-select-option value="2">Zimbabwe</ion-select-option>
        <ion-select-option value="3">Kenya</ion-select-option>
        <ion-select-option value="4">botswana</ion-select-option>
      </ion-select>
           <ion-label>Address</ion-label>
           <br>
           <ion-input type="Address" placeholder="Enter Your Address" style="background-color: white; width:50%;border: black solid 1px;"></ion-input>
           <ion-label>City</ion-label>
           <ion-input type="text" placeholder="Enter Your City" style="background-color: white; width:50%; border: black solid 1px;"></ion-input>
           <br>
           <ion-label>Postal Code</ion-label>
           
           <br>
           <ion-input  placeholder="Enter Your Postal Code" style="background-color: white; width:50%; border: black solid 1px;"></ion-input><br>
           <ion-label>Phone Number</ion-label>
           <ion-input  placeholder="Enter Your Phone Number" style="background-color: white; width:50%;border: black solid 1px;"></ion-input>
           <br>
           <br>
           <ion-buttons>
            <ion-button slot="end" shape="round" style="margin-left: 75%; border-radius:10%;background-color: #0070c0; color:white;width:100px;">
              Save
            </ion-button>
            <ion-button align="right" shape="round" style="border-radius:10%;background-color: #616161; color:white;width:100px;" routerLink="/client-checkout" >
              Cancel
            </ion-button>
          </ion-buttons>
           
          </ion-card-content>
        </ion-card>
        <ion-card id="OrderSummary">
          <ion-col>
                <h1 id="Orderh1">Order Summary</h1>
                <hr style="border: none; border-top: 2px double #333; text-align: center;width: 125%">
                <ion-label style="color: #333333;margin-left:5%; float: left;">ITEMS:</ion-label>
                <ion-label style="margin-left: 49%; color:#333333; float: right;">R</ion-label><br><br>
                <ion-label col  style="float: left; color: #333333;margin-left:5%;" >SHIPPING</ion-label>
                <ion-toggle style="float: right;" ></ion-toggle>
                <ion-input type="text" style="border-radius:5%; border: black solid 1px; background-color: white;padding-left:20%;margin-left:5%;" placeholder="Courier - R"></ion-input><br><br><br>
                <ion-label style="color: #333333">DISCOUNT:</ion-label>
                <ion-label style="margin-left:54%;color:#333333;">R</ion-label><br>
                <br><ion-label style="color: #333333;">VAT AMOUNT<br >(Inclusive)</ion-label>
                <ion-label style="margin-left:59%;color:#333333;">R</ion-label>
                <br>
                <br>
                <br>
                <hr style="border: none; border-top: 2px double #333; text-align: center;width: 124%">
                <ion-label style="color:#333333">TOTAL COST:</ion-label>
                <ion-label style="margin-left:49%; color:#333333;padding-bottom: 90px; margin-top:50%;">R</ion-label>
                <br>
                <br>
                <br>

                <ion-buttons>
                  <ion-button  (click)="presentAlert()" shape="round" style="border-radius: 5px; background-color: #08c10f; color:white;width:850px; margin-left: 28%;" routerLink="/client-checkout" >
                    Place Order
                  </ion-button>
                </ion-buttons>
          </ion-col>
        </ion-card>
</div>
        </ion-content>
