
<ion-content>
  <div id="container">
    <ion-grid>
     
      <ion-row>
        <ion-col></ion-col>
        <ion-col><img src="./assets/SAiCS Innovations-logo.png"></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><h1>Pending...</h1></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
        <div>
          Your registration is still awaiting approval.<br><br>Try again later <br><img src="./assets/emoji.png">
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col> <ion-button type="submit" shape="round" color="secondary">Return to homepage </ion-button></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>