<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Quiz 
    </ion-title>
    <ion-icon slot="end" name="close" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ng-form [formGroup]="UpdateQuiz" #localForm = 'ngForm' id="AddQuizModal">   
    <ion-row>
      <ion-col>
        <ion-label>Quiz Name:</ion-label>
         <ion-input formControlName="quizname" type="text" placeholder="Enter quiz name"></ion-input>
        <span *ngIf="localForm.submitted && UpdateQuiz.controls['quizname'].invalid">*Required</span>
        <span *ngIf="isExisting" style="margin-left: 15%;">Quiz name already exists</span>
      </ion-col>
      </ion-row>

      
      <ion-row>
        <div>
        <ion-col size="10">
<br>
        <ion-label>Question:</ion-label>
        <ion-input formControlName="quizquestion" type="text" placeholder="Enter a question"></ion-input> 
        <span *ngIf="localForm.submitted && UpdateQuiz.controls['quizquestion'].invalid">*Required</span><br>
        <span *ngIf="isExisting" style="margin-left: 15%;">Quiz question already exists</span>

        <ion-label>Answer:</ion-label>
         <ion-input formControlName="quizanswer" type="text" placeholder="Enter the answer"></ion-input>
         <span *ngIf="localForm.submitted && UpdateQuiz.controls['quizanswer'].invalid">*Required</span>
         <span *ngIf="isExisting" style="margin-left: 15%;">Quiz answer already exists</span>
<br>
         <ion-label>Other options:</ion-label>
         <ion-input formControlName="quizanswer" type="text" placeholder="Enter the answer"></ion-input>
         <span *ngIf="localForm.submitted && UpdateQuiz.controls['quizanswer'].invalid">*Required</span>
         <span *ngIf="isExisting" style="margin-left: 15%;">Quiz answer already exists</span>
         <br>
         <ion-input formControlName="quizanswer" type="text" placeholder="Enter the answer"></ion-input>
         <span *ngIf="localForm.submitted && UpdateQuiz.controls['quizanswer'].invalid">*Required</span>
         <span *ngIf="isExisting" style="margin-left: 15%;">Quiz answer already exists</span>
         <br>
         <ion-input formControlName="quizanswer" type="text" placeholder="Enter the answer"></ion-input>
         <span *ngIf="localForm.submitted && UpdateQuiz.controls['quizanswer'].invalid">*Required</span>
         <span *ngIf="isExisting" style="margin-left: 15%;">Quiz answer already exists</span>
        </ion-col>
      </div>
        <ion-col size="2">
          <ion-button style="margin-top: 30%;">Add</ion-button>
        </ion-col>
     
        </ion-row>
         <br> <br>
         <ion-list>
          <label>Question Bank</label>
          <ion-list style="width: 380px;background-color: #e5e5e5; border: solid 1px black;border-radius: 12px !important;">
            bank item one <ion-icon name="trash-outline" size="large" id="addIcon" style="margin-left: 2%;color: black;"></ion-icon>
           </ion-list>
         </ion-list>
        <ion-buttons>
          <ion-button id="ModalBlueButtons">
            Add
          </ion-button>
          <ion-button id="ModalRedButtons" (click)="dismissModal()">
            Close
          </ion-button>
        </ion-buttons>
  </ng-form> 
</ion-grid>  
</ion-content>