span {
    color: #333333 !important;
    text-decoration: none;
}

#export{
  text-transform: none;
  font-weight: bold;
  --background: #08c10f;
  width: 140px;
  margin-top: -7%;
  margin-left: 80%;
  span{color: white !important;}
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 55%;
  border: 1px solid #dddddd;
}

td, th {
  padding: 8px;
  background-color: white;
  color: #333333;
}

th{
  border-bottom: 2px solid #a0a3a5;
  font-weight: bold;
  color: #333333;
}



// ::ng-deep .row-color {
//     background-color: white;
//     text-align: right;
//   }

//   ::ng-deep  .headerClass{
// background-color: white;
//  font-weight: bold;
// color: #333333;
// text-align: center;
// }

//   ::ng-deep   .datatable-header{background-color: white; width: 55% !important; border-bottom: 2px solid #a0a3a5;}
      