<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>    
    
    <ion-label slot="secondary" id="toolbarUserName" >{{username}}</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" routerLink="/add-special">
        <ion-icon name="add-circle-outline" size="large" id="addIcon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-searchbar [(ngModel)]="search" id="searchProductBar" placeholder="Search Special..."></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- Filter box -->
   <ion-col size="2.1">
    <ion-row>
      <ion-button routerLink="/special-maintainance" fill="clear" style="color: #0070c0; text-transform: none; text-decoration: underline; font-size: 16px;">Maintainance</ion-button>
    </ion-row>

    <ion-card id="filterBox">
      <ion-card-header>
        <ion-card-title>Categories...</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-radio-group  [(ngModel)]="specialOption">

          <ion-item lines="none" *ngFor="let s of specialTypes; index as i">
            <ion-label>{{s.type}}</ion-label>
            <ion-radio slot="start" value="{{s.id}}"></ion-radio>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label>Show All...</ion-label>
            <ion-radio slot="start" value="" checked="true"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-card-content>
    </ion-card>
   </ion-col>
   <!-- Table -->
   <ion-col>
    
     <table id="productTable">
      <thead>
        <tr>
          <th width="25%">Item Details</th>
          <th width="20%">Description</th>
          <th width="10%">Type</th>
          <th width="15%">Start Date</th>
          <th width="15%">End Date</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let s of specials | filter:search:filterKeys | filter:specialOption:filterKeys | paginate: { itemsPerPage: 4, currentPage: p, id: 'TB'}; let i = index">
          <tr>
            <td> <div class="containerItem" id="{{s.id}}" style="display:inline-block;vertical-align:top;">
              <img [src]="imageArray[i]  | safe: 'url'" style="height:75px; width:80px; padding-right: 10%;"  alt='The Image' />
           
                
          </div>
          <div  style="display:inline-block;">
            <p><br>
              <span style="color: black; font-size: 15px;">{{s.name}}</span><br>
              <span style="color: black; font-size: 15px;">{{s.price | currency: 'ZAR':'symbol-narrow'}}</span>
            </p>  
          </div>
        </td>
            <td>{{s.description}}</td>
            <td>{{s.type}}</td>
            <td>{{s.startDate | date: 'dd/MM/yyyy'}}</td>
            <td style="word-wrap: break-word; text-align: left;">{{s.endDate | date: 'dd/MM/yyyy'}}</td>
            <td style="display: block;text-align: center;">
              <ion-button id="update" (click)="updateSpecial(s.id)">Update</ion-button>
              <ion-button id="delete" (click)="DeleteSpecial(s.id)">Remove</ion-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
     </table>
  </ion-col>
  </ion-row>
  <ion-row>
    <div class="pagination">
      <pagination-controls id="TB" (pageChange)="p = $event"></pagination-controls>
    </div>
  </ion-row>
  <br>
</ion-content>
