<ion-header [translucent]="true">

</ion-header>

<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col style="margin-left: 70%; margin-top: 8%;">
          <div id="bubbles">
            <svg >
              <circle id="gray" cx="80" cy="60" r="45" fill="#062B80"/>
              <circle id="teal" cx="150" cy="70" r="45" fill="#0070C0" />
              <circle id="blue" cx="200" cy="100" r="45" fill="#A6A6A6" fill-opacity="0.8"/>
            </svg>
        </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col style="align-items: center;">
          <img src="./assets/SaicsInnovations.jpg" alt="SAiCS logo" height="200" width="500">
          <blockquote class="tweet-this">
            <p><q> The future belongs to those who believe in the beauty of their dreams </q><span>-Eleanor Roosevelt</span></p>
          </blockquote>
        </ion-col>

        <ion-col>
           <h1>Register</h1>
           <form id="registerNextForm">
             <ion-list>
               <ion-item lines="none">
                <ion-input placeholder="Username"> </ion-input>
               </ion-item>
               <ion-item lines="none">
                <ion-input placeholder="Password"> </ion-input>
               </ion-item>
               <ion-item lines="none">
                <ion-input placeholder="Confirm Password"> </ion-input>
               </ion-item>
             
                <ion-button color="secondary">Register</ion-button>
             </ion-list>
           </form>
        </ion-col >

      </ion-row>
    </ion-grid>
    </div>
</ion-content>