<ion-header [translucent]="true">

</ion-header>

<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row style="height:80pt;margin-top:0;">
        <ion-col > </ion-col>
        <ion-col > </ion-col>
        <ion-col >
          <img src="./assets/SAiCS bubbles.png" style="width: 250pt;" alt="SAiCS logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <img src="./assets/SAiCS Logo.png" alt="SAiCS logo">
        </ion-col>
        <ion-col >
          <br> <br> <br> <br> <br> <br><br>
          <br> <br> <br>
          <ion-input placeholder="Username"> </ion-input>
          <br>
          <ion-input placeholder="Password"> </ion-input>
          <br>
          <ion-input placeholder="Confirm Password"> </ion-input>
          <br> <br><br>
          <ion-button shape="round" color="secondary">Register</ion-button>
        </ion-col >

      </ion-row>
    </ion-grid>
    </div>
</ion-content>