<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <h1 style="font-weight: 600;">My Orders</h1>

  <div class="tab">
    <button class="tablinks" (click)="openOrder($event, 'All')">All Orders</button>
    <button class="tablinks" (click)="openOrder($event, 'Pending')">Pending</button>
    <button class="tablinks" (click)="openOrder($event, 'Complete')">Complete</button>

    <div style="margin-left: 40%; display: inline; ">
      <input style="margin-top: 1% ;" type="date" id="birthday" name="birthday">
      <span style="padding: 1%;"><b>To</b></span>
      <input type="date" id="birthday" name="birthday">
    </div>
    
  </div>
  

  <div id="All" class="tabcontent">
    <!-- <h3>London</h3> -->
      <table style="margin-left: 8% !important;">
        <thead>
        <th>Order No.</th>
        <th>Order Date</th>
        <th>Order Status</th>
        <th>Total</th>
        <th></th>
        </thead>
        <tbody>
        <ng-container *ngFor="let o of orders" id="o.id">
        <tr>
        <td>{{o.id}}</td>
        <td>{{o.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{o.status}}</td>
        <td style="text-align: right;">{{o.amount| currency: 'ZAR':'symbol-narrow'}}</td>
        <td><ion-button (click)="ViewOrderDetails(o.id)" fill="clear" style="color: #0070c0; text-transform: none; text-decoration: underline; font-size: 14px;">View Details</ion-button></td>
        </tr>
        <tr>
        </ng-container>
        </tbody>
        </table>
  </div>
  
  <div id="Pending" class="tabcontent">
    <!-- <h3>Paris</h3> -->
    <table style="margin-left: 8% !important;">
      <thead>
      <th>Order No.</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th>Total</th>
      <th></th>
      </thead>
      <tbody>
        <ng-container *ngFor="let o of orders" id="o.id">
          <tr *ngIf="o.status == 'Pending'">
          <td>{{o.id}}</td>
          <td>{{o.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{o.status}}</td>
          <td style="text-align: left;">{{o.price * o.quantity | currency: 'ZAR':'symbol-narrow'}}</td>
          <td><ion-button (click)="ViewOrderDetails(o.id)" fill="clear" style="color: #0070c0; text-transform: none; text-decoration: underline; font-size: 14px;">View Details</ion-button></td>
          </tr>
          <tr>
          </ng-container>
      </tbody>
      </table>
  </div>
  
  <div id="Complete" class="tabcontent">
    <!-- <h3>Tokyo</h3> -->
    <table style="margin-left: 8% !important;">
      <thead>
      <th>Order No.</th>
      <th>Order Date</th>
      <th>Order Status</th>
      <th>Total</th>
      <th></th>
      </thead>
      <tbody>
        <ng-container *ngFor="let o of orders" id="o.id">
          <tr *ngIf="o.status == 'Complete'">
          <td>{{o.id}}</td>
          <td>{{o.date | date: 'dd/MM/yyyy'}}</td>
          <td>{{o.status}}</td>
          <td style="text-align: left;">{{o.price * o.quantity | currency: 'ZAR':'symbol-narrow'}}</td>
          <td><ion-button (click)="ViewOrderDetails(o.id)" fill="clear" style="color: #0070c0; text-transform: none; text-decoration: underline; font-size: 14px;">View Details</ion-button></td>
          </tr>
          <tr>
          </ng-container>
      </tbody>
      </table>
  </div>

  <!-- <p style="float: left; margin-left: 6%;">All Orders </p>
  <p style="float: left; margin-left: 6%;">Pending</p>
  <p style="float: left; margin-left: 6%;">Completed</p>

  <input type="date" style="float: right; margin-right: 155px; margin-top: 12px;">
  <p style="float: right; margin-right: 60px;">To</p>
  <input type="date" style="float: right; margin-right: 60px; margin-top: 12px;"><br><br><br><br>

  <table>
    <thead>
    <th>Order No.</th>
    <th>Order Date</th>
    <th>Order Status</th>
    <th>Total</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>06/07/2022</td>
    <td>Processing</td>
    <td>R 3950.00</td>
    <td><a href="">View Details</a></td>
    </tr>
    <tr>
    <td>2</td>
    <td>07/07/2022</td>
    <td>Processing</td>
    <td>R 950.00</td>
    <td><a href="">View Details</a></td>
    </tr>
    <tr>
    <td>3</td>
    <td>8/07/2022</td>
    <td>Processing</td>
    <td>R 350.00</td>
    <td><a href="">View Details</a></td>
    </tr>
    <tr>
    <td>4</td>
    <td>09/07/2022</td>
    <td>Processing</td>
    <td>R 395.00</td>
    <td><a href="">View Details</a></td>
    </tr>
    </tbody>
    </table><br><br><br> -->

</ion-content>
