<ion-header>
  <ion-toolbar>
    <ion-title><b>
      Ambassador Banking Details</b>
    </ion-title>
    <ion-icon slot="secondary" name="close" (click)="dismissModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<div id="BankingForm">    
 <ion-row> 
  <ion-label>Ambassador Name:</ion-label>
  <ion-label>John van der Merwe</ion-label>
</ion-row>
<br>
<ion-row>
  <ion-label>Bank Name:</ion-label>
  <ion-label>FNB</ion-label>
</ion-row>
<br>
<ion-row>
  <ion-label>Account Number:</ion-label>
  <ion-label>6281906176</ion-label>
</ion-row>
<br>
<ion-row>
  <ion-label>Account Type:</ion-label>
  <ion-label>Transmission</ion-label>
</ion-row>
<ion-buttons>
  <ion-button id="okay">
    Okay
  </ion-button>
</ion-buttons>
</div>