<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary" routerLink="/view-ambassador-cart">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
        <div class="cart-length" *ngIf="TotalItems > 0" color="danger">{{TotalItems}}
        </div>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">{{username}}</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid class="my-grid">
  <ion-row class="parent-row" >
    <ion-col size="9">
      <ion-card id="checkout">
        <ion-list>
          <h1 style="font-size: 27px;">Checkout</h1> 
          <hr style="border-top: 2px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 93%; margin-left: 3%;">
          <h1 style="font-size: 22px; ">1. Shipping Information</h1>
          <hr style="border-top: 1px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 85%; margin-left: 7%;">
          <h2 style="font-size: 20px; margin-top: -2%;">Add New Address</h2>
        
          <form [formGroup]="newAddress" #localForm = 'ngForm' (ngSubmit)="OnSubmit()">
          <ion-item-group>
            <ion-label class="rightFormLabel">Country</ion-label>
              <select class="rightFormControl" id="dropdown" placeholder="Country" style="width: 85%; height: 35px;" formControlName="country">
                <option value="" disabled selected>Select Country</option>
                  <option *ngFor="let p of countries" value="{{p.countryId}}" >{{p.countryName}}</option>
              </select><br /><br />
              <span *ngIf="localForm.submitted && newAddress.controls['country'].invalid">Required</span>
          </ion-item-group>

          <ion-item-group>
            <ion-label class="rightFormLabel">Address</ion-label>
            <input class="rightFormControl" style="width: 85%;" type="text" placeholder="Enter Your Address" formControlName="address"><br />
            <span *ngIf="localForm.submitted && newAddress.controls['address'].invalid">Required</span>
          </ion-item-group>

          <ion-grid>
            <ion-row>
            <ion-col size="4" style="margin-left: -1%;">
              <ion-item-group>
                <ion-label class="rightFormLabel" style="font-size: 15px;">City</ion-label>
                <ion-input class="rightFormControl" style="width: 130%;" type="text" placeholder="Enter Your City" formControlName="city">
                </ion-input>
                  <span  *ngIf="localForm.submitted && newAddress.controls['city'].invalid">Required</span>
                </ion-item-group>
            </ion-col>
            <ion-col size="4">
              <ion-item-group>
                <ion-label style="font-size: 15px; margin-left: 30%;">Province</ion-label>
                <select  id="dropdown" placeholder="Province" style="width: 140%; margin-left: 30%; height: 35px;" formControlName="province">
                  <option value="" disabled selected>Select Province</option>
                  <option *ngFor="let p of provinces" value="{{p.provinceId}}" >{{p.provinceName}}</option>
                </select>
                <span style="margin-left: 30%;" *ngIf="localForm.submitted && newAddress.controls['province'].invalid">Required</span>
              </ion-item-group>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4" style="margin-left: -1%;">
              <ion-item-group>
                <ion-label class="rightFormLabel" style="font-size: 15px;">Postal Code</ion-label>
                <input class="rightFormControl" style="width: 130%;" type="text" placeholder="Enter Your Postal Code" formControlName="postalCode">
                  <span *ngIf="localForm.submitted && newAddress.controls['postalCode'].invalid">Required</span>
                </ion-item-group>
            </ion-col>
            <ion-col size="4">
              <ion-item-group>
                <ion-label style="font-size: 15px; margin-left: 30%;">Phone Number</ion-label>
                <input style="width: 140%; margin-left: 30%;" type="text" placeholder="XXX-XXX-XXXX" formControlName="phone">
                <span style="margin-left: 30%;" *ngIf="localForm.submitted && newAddress.controls['phone'].invalid">Required</span>
              </ion-item-group>
            </ion-col>
          </ion-row>
          </ion-grid>

          <ion-item-group style="float: right; margin-right: 5%;">
            <ion-button style="--background:#0070c0; text-transform: none;" type="submit">Save</ion-button>
            <ion-button (click)="Return()" style="--background:#424242;text-transform: none;">Cancel</ion-button>
          </ion-item-group>
        </form>
        </ion-list>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card id="ordersummary">
        <h1 style="font-size: 19px; text-align: center;">Order Summary</h1>
        <hr style="border-top: 2px double #333; color: #333; height: 5px; width: 90%; margin-left: 5% !important;">
      
        <ion-list>
          <ion-item lines="none">
            <ion-label>Items: {{OdrSmry.itemCount}}</ion-label>
            <ion-label slot="end">{{OdrSmry.subtotal | currency: 'ZAR':'symbol-narrow'}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="start">Shipping</ion-label>
            <ion-toggle slot="end" disabled="true" [checked]="deliveryOption==true? true: false" [(ngModel)]="deliveryOption" (ngModelChange)="toggleValue()"></ion-toggle><br>
          </ion-item>
          <ion-item lines="none">
            <ion-input *ngIf="deliveryOption" readonly id="deliveryInput" type="text" placeholder="Courier - R200"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Discount</ion-label>
            <ion-label slot="end">{{OdrSmry.discount | currency: 'ZAR':'symbol-narrow'}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>VAT Amount</ion-label>
            <ion-label slot="end">{{OdrSmry.vat | currency: 'ZAR':'symbol-narrow'}}</ion-label>
          </ion-item>
          <hr style="border: none;border-top: 1px double #333; color: #333; overflow: visible; text-align: center; height: 5px; width: 85%;">
          <ion-item lines="none">
            <ion-label>Total Cost</ion-label>
            <ion-label slot="end">{{OdrSmry.totalCost | currency: 'ZAR':'symbol-narrow'}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-button [disabled]="true" style="--background: #08c10f; width: 65%; text-transform: none;" id="button">Place Order</ion-button>
          </ion-item>
        </ion-list>
      
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
