<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>
  <h1 align="center">Position Requests</h1>
  <br><br><br>
  <table>
    <thead align="center" >
    <th>Full name</th>
    <th>Ranking</th>
    <th>Email</th>
    <th>Monthly Orders</th>
    <th>Phone Number</th>
    <th>Request Type</th>
    <th></th>
    <th></th>
    </thead>
    <tbody *ngFor="let p of PositionRequests">
    <tr>
    <td>{{p.ambassador.user.name +' '  + p.ambassador.user.surname}}</td>
    <td>{{p.ambassador.ambassadorType.ambassadorTypeName}}</td>
    <td>{{p.ambassador.user.email}}</td>
    <td>Amanda</td>
    <td>{{p.ambassador.user.phoneNumber}}</td>
    <td>{{p.ambassador.positionRequest.requestType.requestTypeName}}</td>
    <td><ion-button color="success">Accpet</ion-button></td>
    <td><ion-button color="danger">Reject</ion-button></td> 
    </tr>
    <tr>
    <td>#2</td>
    <td>18/07/22</td>
    <td>Maria Garcia</td>
    <td>5</td>
    <td>R85,00</td>
    <td>Promotion</td>
    <td><ion-button color="success">Accpet</ion-button></td>
    <td><ion-button color="danger">Reject</ion-button></td> 
    </tr>
    <tr>
    <td>#3</td>
    <td>19/07/22</td>
    <td>David Rodriguez</td>
    <td>10</td>
    <td>R450,00</td>
    <td>Promotion</td>
    <td><ion-button color="success">Accpet</ion-button></td>
    <td><ion-button color="danger">Reject</ion-button></td> 
    </tr>
    <tr>
    <td>#4</td>
    <td>20/07/22</td>
    <td>Eyon Shih</td>
    <td>12</td>
    <td>R350,00</td>
    <td>Promotion</td>
    <td><ion-button color="success">Accpet</ion-button></td>
    <td><ion-button color="danger">Reject</ion-button></td> 
    </tr>
    </tbody>
    </table>

</ion-content>
