
  

<ng-form style="height: 600px; width: 500px; box-shadow: 2px 2px 4px 5px; margin-left: 33%; background-color: #f1f1f1;">

<label style="font-size: 25px; float: left; margin-left: 25px; margin-top: 20px; color:black; ">Order No. 521</label>
  <ion-icon style="float: right; margin-top: 20px; margin-right: 3%; "  name="close-outline" size="large"></ion-icon><br><br><br> 
  <hr style="border: none;border-top: 1px double #D3D3D3; color: #D3D3D3; overflow: visible; text-align: center; height: 5px; width: 90%;">
<span>
<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">Order Status:</p>
<p style="float: left; margin-left: 3%; color: #f44336; font-size: 16px;">Processing</p><br><br><br><br>
</span>

<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">Subtotal</p>
<p style="float: right; margin-right: 15%; color: black; font-size: 16px;">R3750.00</p><br><br><br>

<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">Delivery Charges</p>
<p style="float: right; margin-right: 15%; color: black; font-size: 16px;">R200.00</p><br><br><br>

<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">Discount</p>
<p style="float: right; margin-right: 15%; color: black; font-size: 16px;">-R375.00</p><br><br><br>

<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">VAT Amount(Inclusive)</p>
<p style="float: right; margin-right: 15%; color: black; font-size: 16px;">R200.00</p><br><br>
<hr style="border: none;border-top: 1px double #D3D3D3; color: #D3D3D3; overflow: visible; text-align: center; height: 5px; width: 90%;">

<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">Order Total</p>
<p style="float: right; margin-right: 15%; color: black; font-size: 16px;">R3575.00</p><br><br><br>

<p style="float: left; margin-left: 6%; color: black; font-size: 16px;">Order Items:</p><br><br><br>

<p>
  <span style="color: black; margin-left: 6%;">Suptite tablets</span><br>
  <span style="color: black; margin-left: 6%;">Metabolism Enhancer x2</span><br>
  <span style="color: black; margin-left: 6%;">Super Booster x5</span><br><br><br>
  <span style="color: black; margin-left: 6%;">Delivery</span><br>
</p><br>

</ng-form>