<ion-header [translucent]="true">

</ion-header>
<!-- <form [formGroup] = "registerForm"></form> -->
<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
   <ion-grid>
   <!-- Contents of the screen -->
     <ion-row>
       <ion-col><ion-label style="color: black;"><h1><b>Register</b></h1></ion-label></ion-col>
     </ion-row>
     <br>
     <ion-row>
       <ion-col size="5.5">
         <br><br>
        <ion-select [(ngModel)]= "userType" (ionChange)="UserTypeSelected()" placeholder="User type">
          <ion-select-option *ngFor="let userType of userTypes" value={{userType.description}}>
            {{userType.description}}
          </ion-select-option>
        </ion-select>
        <br>
        <ion-select  placeholder="Title" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;width:65%; margin-left: 25%;margin-right: 25%;">
          <ion-select-option *ngFor=" let title of titles" value={{title.titleName}}>
           <ion-item> {{title.titleName}}</ion-item> 
          </ion-select-option>
        </ion-select>
        <br>
        <ion-input  placeholder="Name"> </ion-input>
        <br>
        <ion-input placeholder="Surname"> </ion-input>
        <br>
        <ion-input  placeholder="Email Address"> </ion-input>
        <br>
        <ion-input  placeholder="Phone Number"> </ion-input>
        <br>
        <ion-select  placeholder="Country" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;width:65%; margin-left: 25%;margin-right: 25%;">       
          <ion-select-option *ngFor="let country of countrys"   value={{country.countryName}}>
            <ion-item> {{country.countryName}}</ion-item> 
           </ion-select-option>
        </ion-select>
        <br>
        <ion-input  placeholder="City"> </ion-input>
        <br>
        <ion-input  placeholder="Address"> </ion-input>
        <br>
        <ion-input  placeholder="Postal"> </ion-input>
        <br>

       </ion-col>

       <ion-col size="1">
        <img src="./assets/SAiCS line.png" alt="SAiCS logo" style="height: 100%; margin-top: 0%;">
       </ion-col>

       <!-- If Ambassador selected -->
      
       <ion-col size="5.5" *ngIf="userTypeReg == 'Ambassador'">
        <br><br>
         <ion-select placeholder="Select Ambassador Ranking" >
          <!-- Add through database -->
        </ion-select>
        <br>
        <ion-label>
          Alias Name:
        </ion-label>
        <ion-input style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
        <label style="color: #3f51b5; margin-right: 40%;">*Optional</label>
        <br>
        <ion-label>
          Referral Code:
        </ion-label>
        <ion-input style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
        <br>
        
        <ion-label>
          ID Number :
        </ion-label>
        <ion-input style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
      <br>
      <ion-label style="margin-left: 17%;margin-right: 0%;">
        Upload ID and Proof of Residence
      </ion-label>
      <input   type="file" >
      <br><br>
      <ion-label>
        About Myself :
      </ion-label>
      <ion-input style="border: solid 1pt black;border-radius: 11px !important; height: 60pt;background-color: white;margin-top: 5pt;"></ion-input>
      <br><br>
      <ion-label>
        My reason for becoming an ambassador:
      </ion-label>
      <ion-input style="border: solid 1pt black;border-radius: 11px !important; height: 60pt;background-color: white;margin-top: 5pt;"></ion-input>
      </ion-col>
  
   
       <!-- If Admin selected -->       
    
      <br>
      <ion-col size="5.5" *ngIf="userTypeReg== 'Admin'">
      <ion-label>
        ID Number :
      </ion-label>
      <ion-input  style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
    <br>
    <ion-label style="margin-left: 17%;margin-right: 0%;">
      Upload ID and Proof of Residence
    </ion-label>
    <input type="file" >
    <br><br>
  </ion-col>


    <!-- If Client selected -->
      <br>
      <ion-col size="5.5" *ngIf="userTypeReg == 'Client'">
        <ion-label>
          Referral Code:
        </ion-label>
        <ion-input style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
        <br>
        <ion-label style="color: #3f51b5;"><u>Do you have a referal Code?</u></ion-label>
  </ion-col>


     </ion-row>

     <ion-row>
       <ion-col></ion-col>
       <ion-col></ion-col>
       <ion-col><ion-button color="secondary" routerLink="/next">Next</ion-button></ion-col>
     </ion-row>
   </ion-grid>
    </div>
</ion-content>