<ion-header [translucent]="true">

</ion-header>

<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
   <ion-grid>
   <!-- Contents of the screen -->
     <ion-row>
       <ion-col><ion-label style="color: black;"><h1><b>Register</b></h1></ion-label></ion-col>
     </ion-row>
     <br>
     <form [formGroup]="register" (ngSubmit)="Next()">
     <ion-row>
       <ion-col size="5.5">
         <br><br>
        <!-- <ion-select formControlName="usertypeID" [(ngModel)]= "userTypeID" (ionChange)="UserTypeSelected()" placeholder="User type">
          <ion-select-option *ngFor="let userType of userTypes" value={{userType.userRoleId}}>
            {{userType.userRoleName}}
          </ion-select-option>
        </ion-select> -->
        <ion-select formControlName="usertypeID" [(ngModel)]= "userTypeID" (ionChange)="UserTypeSelected()" placeholder="User type">
          <ion-select-option  value=1>Client</ion-select-option>
          <ion-select-option  value=2>Ambassador</ion-select-option>
          <ion-select-option  value=3>Admin</ion-select-option>
        </ion-select>
        <br>
        <!-- <ion-select formControlName="titleID" placeholder="Title" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;width:65%; margin-left: 25%;margin-right: 25%;">
          <ion-select-option *ngFor=" let title of titles" value={{title.titleId}}>
           <ion-item> {{title.titleName}}</ion-item> 
          </ion-select-option>
        </ion-select> -->
        <ion-select formControlName="titleID" placeholder="Title" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;width:65%; margin-left: 25%;margin-right: 25%;">
          <ion-select-option value=1>Mr</ion-select-option>
          <ion-select-option value=2>Mrs</ion-select-option>
          <ion-select-option value=3>Miss</ion-select-option>
        </ion-select>
        <br>
        <ion-input  placeholder="Name" formControlName="name"> </ion-input>
        <br>
        <ion-input placeholder="Surname" formControlName="surname"> </ion-input>
        <br>
        <ion-input  placeholder="Email Address" formControlName="emailaddress"> </ion-input>
        <br>
        <ion-input type="number"  placeholder="Phone Number" formControlName="phonenumber"> </ion-input>
        <br>
        <!-- <ion-select formControlName="countryID" placeholder="Country" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;width:65%; margin-left: 25%;margin-right: 25%;">       
          <ion-select-option *ngFor="let country of countrys"   value={{country.countryId}}>
            <ion-item> {{country.countryName}}</ion-item> 
           </ion-select-option>
        </ion-select> -->
        <ion-select formControlName="countryID" placeholder="Country" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;width:65%; margin-left: 25%;margin-right: 25%;">       
          <ion-select-option  value=1>South Africa</ion-select-option>
        </ion-select>
        <br>
        <ion-input  placeholder="City" formControlName="city"> </ion-input>
        <br>
        <ion-input  placeholder="Address" formControlName="address"> </ion-input>
        <br>
        <ion-input  placeholder="Postal" formControlName="postalcode"> </ion-input>
        <br>

       </ion-col>

       <ion-col size="1">
        <img src="./assets/SAiCS line.png" alt="SAiCS logo" style="height: 100%; margin-top: 0%;">
       </ion-col>

       <!-- If Ambassador selected --> 
       <ion-col size="5.5" *ngIf="userTypeReg == 2">
        <br><br>
         <!-- <ion-select formControlName="ambassadorType" placeholder="Select Ambassador Ranking"  >
          <ion-select-option  *ngFor="let AmbassadorTypeID of AmbassadorTypeIDs" value={{AmbassadorTypeID.ambassadorTypeId}}>
            <ion-item>
              {{AmbassadorTypeID.ambassadorTypeName}}
            </ion-item>
          </ion-select-option>
        </ion-select> -->
        <ion-select formControlName="ambassadorType" placeholder="Select Ambassador Ranking"  >
          <ion-select-option value=1>Junior Agent</ion-select-option>
          <ion-select-option value=2>Agent</ion-select-option>
          <ion-select-option value=3>Senior Agent</ion-select-option>
          <ion-select-option value=4>Manager</ion-select-option>
          <ion-select-option value=5>Entrepreneur</ion-select-option>
          <ion-select-option value=6>Junior Distributor</ion-select-option>
          <ion-select-option value=7>Senior Distributor</ion-select-option>
          <ion-select-option value=8>Executive Distributor</ion-select-option>
        </ion-select>
        <br>
        <ion-label>
          Alias Name:
        </ion-label>
        <ion-input  formControlName="aliasname" style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
        <label style="color: #3f51b5; margin-right: 40%;">*Optional</label>
        <br>
        <ion-label>
          Referral Code:
        </ion-label>
        <ion-input formControlName="referralcode" style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
        <br>
        
        <ion-label>
          ID Number :
        </ion-label>
        <ion-input formControlName="idnumber" style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
      <br>
      <ion-label style="margin-left: 17%;margin-right: 0%;">
        Upload ID and Proof of Residence
      </ion-label>
      <input formControlName="idphotoANDAddress"  type="file" >
      <br><br>
      <ion-label>
        About Myself :
      </ion-label>
      <ion-input formControlName="aboutmyself" style="border: solid 1pt black;border-radius: 11px !important; height: 60pt;background-color: white;margin-top: 5pt;"></ion-input>
      <br><br>
      <ion-label>
        My reason for becoming an ambassador:
      </ion-label>
      <ion-input formControlName="reasons" style="border: solid 1pt black;border-radius: 11px !important; height: 60pt;background-color: white;margin-top: 5pt;"></ion-input>
      </ion-col>

       <!-- If Admin selected -->       
      <br>
      <ion-col size="5.5" *ngIf="userTypeReg== 3">
      <ion-label>
        ID Number :
      </ion-label>
      <ion-input formControlName="idnumber" style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
    <br>
    <ion-label style="margin-left: 17%;margin-right: 0%;">
      Upload ID and Proof of Residence
    </ion-label>
    <input formControlName="idphotoANDAddress" type="file" >
    <br><br>
  </ion-col>


    <!-- If Client selected -->
      <br>
      <ion-col size="5.5" *ngIf="userTypeReg == 1">
        <ion-label>
          Referral Code:
        </ion-label>
        <ion-input formControlName="referralcode"  style="border: solid 1pt black;border-radius: 11px !important; height: 27pt;background-color: white;margin-top: 5pt;"></ion-input>
        <br>
        <ion-label style="color: #3f51b5;"><u>Do you have a referal Code?</u></ion-label>
  </ion-col>
     </ion-row>

     <ion-row>
       <ion-col></ion-col>
       <ion-col></ion-col>
       <ion-col><ion-button type="submit " color="secondary">Next</ion-button></ion-col>
     </ion-row>
    </form>
   </ion-grid>
    </div>
</ion-content>