#Checkout{
    float:left;
    width:65%;
    height:650px;
    background-color: #fafafa;
}
h1,h2,h3{
    color: #333333;
    
}

#OrderSummary{
    height:660px;
    background-color: #e0e0e0;
    width: 350px;
    
}
#Orderh1{
    color:#333333;
    text-align:center;
    padding-left: 50px;
    
}
#placeorderbtn{
    border-radius: 5px; 
    background-color: #08c10f;
     color:white;
     width:750px; 
     margin-left: 10px;
}
ion-toggle{
    margin-left:130px;
}
#Couriertext{
    border-radius:5px; 
    border: black solid 1px;
     background-color: white;
     margin-left:5px;
     width: 200px;
}

