<!-- revamped -->
<ion-header [translucent]="true">

</ion-header>
<form [formGroup]="RegisterForm" #BasicInfoForm= 'ngForm' (ngSubmit)="Step2()">  
<ion-content id="screen-color" [fullscreen]="true">
  <div id="container">
   <ion-grid>
   <!-- Contents of the screen -->
     <ion-row>
       <ion-col><ion-label style="color: black;"><h1><b>Register</b></h1></ion-label></ion-col>
     </ion-row>
     <ion-row> 
      <ion-col></ion-col> 
      <ion-col>
        <br>
        <ion-select formControlName="usertypeID" (ionChange)="UserTypeSelected()" placeholder="User type">
          <ion-select-option  value=1>Client</ion-select-option>
        </ion-select>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.usertypeID.invalid">Please select a User Type</span>
        <br>
        <ion-select formControlName="titleID" placeholder="Title" style="border: 0; color: black;background-color: #f5f5f5;  border-bottom: solid 1pt black ;border-radius: 0px !important;">
          <ion-select-option value=1>Mr</ion-select-option>
          <ion-select-option value=2>Mrs</ion-select-option>
          <ion-select-option value=3>Miss</ion-select-option>
        </ion-select>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.titleID.invalid">Please select a title</span>
        <br>
        <ion-input  placeholder="Name" formControlName="name"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.name.invalid">Please enter your name</span>
        <br>
        <ion-input placeholder="Surname" formControlName="surname"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.surname.invalid">Please enter your surname</span>
        <br>
        <ion-input type="email" placeholder="Email Address" formControlName="emailaddress"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.emailaddress.invalid">Please enter a valid email address</span>
        <br>
        <ion-input type="phonenumber"  placeholder="Phone Number" formControlName="phonenumber"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.phonenumber.invalid">Please enter a valid phone number</span>
        <br>
        <ion-select formControlName="countryID" placeholder="Country" id="country" >       
          <ion-select-option  value=1>South Africa</ion-select-option>
        </ion-select>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.countryID.invalid">Please select a country</span>
        <br>
        <ion-select formControlName="provinceID" placeholder="Province" id="province">       
          <ion-select-option  value=1>Mpumalanga</ion-select-option>
          <ion-select-option  value=2>KwaZulu-Natal</ion-select-option>
          <ion-select-option  value=3>Gauteng</ion-select-option>
          <ion-select-option  value=4>Eastern Cape</ion-select-option>
          <ion-select-option  value=5>Northern Cape</ion-select-option>
          <ion-select-option  value=6>Western Cape</ion-select-option>
          <ion-select-option  value=7>Free State</ion-select-option>
          <ion-select-option  value=8>Limpopo</ion-select-option>
          <ion-select-option  value=9>North West</ion-select-option>
        </ion-select>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.provinceID.invalid">Please select a province</span>
        <br>
        <ion-input  placeholder="City" formControlName="city"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.city.invalid">Please enter a city</span>
        <br>
        <ion-input  placeholder="Address" formControlName="address"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.address.invalid">Please enter your address</span>
        <br>
        <ion-input  placeholder="Postal" formControlName="postalcode"> </ion-input>
        <span *ngIf="BasicInfoForm.submitted && RegisterForm.controls.postalcode.invalid">Please enter your Postal code</span>
        <br>
        
    <!-- If Client selected -->
      <div size="5.5" *ngIf="this.RegisterForm.get(['usertypeID']).value == 1">
        <form [formGroup]="ClientForm" #ClientInfoForm= 'ngForm'>
        <ion-label>
          Referral Code:
        </ion-label>
        <ion-input formControlName="clientreferralcode" id="refferralcode" ></ion-input>
        <span *ngIf="BasicInfoForm.submitted && ClientForm.controls.clientreferralcode.invalid">Please enter your refferral code</span>
        <br>
        <ion-label style="color: #3f51b5;" (click)="NoRefferralCode()"><u>Do you have a referal Code?</u></ion-label>
      </form>
      </div>
    </ion-col>
      <ion-col></ion-col> 
     </ion-row>

     <ion-row>
       <ion-col></ion-col>
       <ion-col></ion-col>
       <ion-col>
        <ion-button type="submit" color="secondary" >Next</ion-button>
    </ion-col>
     </ion-row>
   </ion-grid>
    </div>
</ion-content>
</form>
