<ion-header>
  <ion-toolbar>
    <ion-title>
      Update Package
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="updatePackageForm" #localForm = 'ngForm'  class="ion-padding" (ngSubmit)="submitForm()">
   
      <ion-item-group>
        <ion-label>Package Name:</ion-label>
        <ion-input formControlName="packageName"></ion-input>
        <span *ngIf="localForm.submitted && updatePackageForm.controls['packageName'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Package Type:</ion-label> <br>
        <select placeholder="Pick" formControlName="packageTypeId">
          <option value="" disabled selected>Select your option</option>
          <option *ngFor="let pType of packageTypes" value="{{pType.packageTypeId}}">{{pType.packageTypeName}}</option>
        </select>
        <span *ngIf="localForm.submitted && updatePackageForm.controls['packageTypeId'].invalid">Required</span>
      </ion-item-group>

      
      <ion-item-group>
        <ion-label>Package Price:</ion-label>
        <ion-input formControlName="price" type="number" min="0"></ion-input>
        <span *ngIf="localForm.submitted && updatePackageForm.controls['price'].invalid">Required</span>
      </ion-item-group> 

      <ion-item-group>
        <ion-label>Package Image:</ion-label>
        <ion-input formControlName="packageImage" type="file" (change)="onFileSelected($event)"></ion-input>
        <span *ngIf="localForm.submitted && updatePackageForm.controls['packageImage'].invalid">Required</span>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Description:</ion-label>
        <ion-textarea  formControlName="description"></ion-textarea>
        <span *ngIf="localForm.submitted && updatePackageForm.controls['description'].invalid">Required</span>
      </ion-item-group>

        <ion-item-group style="float: right;">
          <ion-button id="update" slot="end" (click)="ConfirmUpdate()">Update</ion-button>
          <ion-button id="cancel" slot="end" (click)="dismissModal()">Cancel</ion-button>
        </ion-item-group>
  </form>
 
</ion-content>
