<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" id="toolbarCartIcon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" id="toolbarUserName" >John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" (click)="createProduct()">
        <ion-icon name="add-circle-outline" size="large" id="addIcon"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-searchbar id="searchProductBar" placeholder="Search Product..."></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- Filter box -->
   <ion-col size="2.1">
    <ion-card id="filterBox">
      <ion-card-header>
        <ion-card-title>Categories...</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-radio-group value="productType" name="productType" ngModel #productType="ngModel">

          <ion-item lines="none" *ngFor="let pType of productTypes; index as i">
            <ion-label>{{pType.productTypeName}}</ion-label>
            <ion-radio slot="start" value="{{pType.productTypeId}}"></ion-radio>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label>Show All...</ion-label>
            <ion-radio slot="start" value="All" checked="true"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-card-content>
    </ion-card>
   </ion-col>
   <!-- Table -->
   <ion-col>
    
     <table id="productTable">
      <thead>
        <tr>
          <th width="5%">ID</th>
          <th width="15%">Product</th>
          <th width="10%">Name</th>
          <th width="10%">Category</th>
          <th width="20%">Description</th>
          <th width="10%">Price</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let p of products">
          <tr *ngIf="p.product.productTypeId == productType.value || productType.value == 'All'">
            <td>{{p.product.productId}}</td>
            <td><img src="data:image/png;base64,{{p.product.productImage}}" height="100px" alt='The Image' /></td>
            <td>{{p.product.productName}}</td>
            <td>{{p.productType.productTypeName}}</td>
            <td style="word-wrap: break-word; text-align: left;">{{p.product.description}}</td>
            <td>{{p.price.price1}}</td>
            <td style="display: block;text-align: center;">
              <ion-button id="update" (click)="updateProduct(p.product.productName)">Update</ion-button>
              <ion-button id="delete" (click)="DeleteProduct(p.product.productId)">Remove</ion-button>
            </td>
          </tr>
        </ng-container>
      </tbody>
     </table>
  </ion-col>
  </ion-row>
</ion-content>
