<ion-header>
  <ion-toolbar>
    <ion-title>
      Update Product
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="updateProductForm"  class="ion-padding" (ngSubmit)="submitForm()">
   
      <ion-item-group>
        <ion-label>Product Name:</ion-label>
        <ion-input formControlName="productName"></ion-input>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Product Type:</ion-label> <br>
        <select placeholder="Pick" formControlName="productTypeId">
          <option value="" disabled selected>Select your option</option>
          <option *ngFor="let pType of productTypes" value="{{pType.productTypeId}}">{{pType.productTypeName}}</option>
        </select>
      </ion-item-group>

      
      <ion-item-group>
        <ion-label>Product Price:</ion-label>
        <ion-input formControlName="price" type="number" min="0"></ion-input>
      </ion-item-group> 

      <ion-item-group>
        <ion-label>Product Image:</ion-label>
        <ion-input formControlName="productImage" type="file" (change)="onFileSelected($event)"></ion-input>
      </ion-item-group>

      <ion-item-group>
        <ion-label>Description:</ion-label>
        <ion-textarea  formControlName="description"></ion-textarea>
      </ion-item-group>

        <ion-item-group style="float: right;">
          <ion-button id="update" slot="end"  (click)="ConfirmUpdate()">Update</ion-button>
          <ion-button id="cancel" slot="end" (click)="dismissModal()">Cancel</ion-button>
        </ion-item-group>
  </form>
 
</ion-content>
