ion-toolbar
  {
    --background: #062b80;
    color: #fafafa;
  }

  ion-menu-button
  {
    --color: #FFFFFF;
  }
  ion-content {
    --background: #fafafa;
  }

  ion-card{
    box-shadow:  10px 10px 10px;
  }

  