<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        
      </ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="secondary">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label slot="secondary" style="color: white;">John van de Merwe</ion-label>

    <ion-buttons slot="end">
      <ion-button shape="round">
        <ion-icon size="large" name="person-circle" id="person-circle" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>

<br>
<p style="text-align: center; font-size:40px;">My Feedback</p>
<br>

<div id="shadow">
<ion-card style="margin-left: 10%; margin-right: 10%; border-radius: 20px;  height: 130px; text-shadow: 100px;">
  <ion-card-header>
    <ion-card-subtitle style="color: #008080;font-size: 18px;">25/02/2022 : Rebecca Steyn</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Ambassador was short-tempered over the phone and because she could not provide me with the product details I asked for.
  </ion-card-content>
</ion-card>
</div><br>

<ion-card style="margin-left: 10%; margin-right: 10%; border-radius: 20px;  height: 130px; text-shadow: 100px;">
  <ion-card-header>
    <ion-card-subtitle style="color: #008080;font-size: 18px;">27/02/2022 : Georgia Smith</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Ambassador is very professional and delivery was timely 
  </ion-card-content>
</ion-card><br>

<ion-card style="margin-left: 10%; margin-right: 10%; border-radius: 20px;  height: 130px; text-shadow: 100px;">
  <ion-card-header>
    <ion-card-subtitle style="color: #008080;font-size: 18px;">23/05/2022 : Mack Maine</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Ambassador is doing a good job, providing more information to help make ordering process easy
  </ion-card-content>
</ion-card><br>

</ion-content>
