#deliveryInput{
    border-radius: 3px;
    border:black solid 2px; 
    height: 30px; width: 250px;
    --background: white;
    --placeholder-color: black;
    --placeholder-opacity: 1;
  }

  #button{
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
  }