#productDetailsCard{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
    ion-card
    {
      height:65%; 
      width: 90%; 
      padding: 1%;
      --background:#ffffff !important;
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
      border-radius: 0%;
    
    }  