<ion-header>
  <ion-toolbar id="navbar">
    <ion-buttons slot="start" menu="main-menu">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons> 
    
    <ion-buttons slot="secondary" routerLink="/view-ambassador-cart">
      <ion-button shape="round">
        <ion-icon size="large" name="cart" style="color: #08c10f;"></ion-icon>
        <div class="cart-length" *ngIf="TotalItems > 0" color="danger">{{TotalItems}}
        </div>
      </ion-button>
    </ion-buttons>

    <ion-label slot="secondary" id="toolbarUserName">{{username}}</ion-label>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" shape="round">
        <ion-icon size="large" name="person-circle" id="toolbarProfileIcon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Courses</h1>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col></ion-col>
    <ion-button (click)="ContextHelp()"><ion-icon  name="help-circle-outline"></ion-icon></ion-button>
  </ion-row>
 <ion-row>

 <ion-card *ngFor="let course of courses">
  <ion-card-content>
    <ion-card-header>{{course.course.courseName}}</ion-card-header>
    <hr style="border: none; border-top: 2px double #333; overflow: visible; text-align: center; height: 1px">
    
   <ion-row>
     {{course.course.description}}
   </ion-row>
   <br>
   <div align="right">
   <ion-button (click)="AccessCourse(course.courseId)">Access</ion-button>
  </div>
  </ion-card-content>
 </ion-card>

</ion-row>


</ion-content>
